@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif!important;
    overflow-x: hidden;
}

.right-content {
    position: relative;
    overflow: hidden;
    background: linear-gradient(178.73deg, #FF9F46 0.73%, #FF6A16 97.39%);
}

.right-content-bg-img {
    position: relative;
    overflow: hidden;
    background-image: url('../img/about1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.55deg, #000000 2.07%, rgba(175, 175, 175, 0) 50.91%);
    z-index: 1;
}



@media screen and (max-width:767px){
    .right-content {
        display: none!important;
    }

    .right-content-bg-img {
        display: none!important;
    }
}

.bg-element {
    position: absolute;
    z-index: 1;
}

.auth-container.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}

.form-auth-container {
    width: 80%;
}

.form-auth-container-r {
    width: 80%;
}

@media screen and (min-width: 1020px){
    .form-auth-container-r {
        padding-top: 40px;
    }
}

.logo-auth {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.logo-auth-r {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

@media screen and (max-width:767px){
    .logo-auth-r {
        margin-top: 100px;
    }
}

@media screen and (max-width:1020px){
    .form-auth-container {
        width: 80%;
    }

    .logo-auth {
        width: 30%;;
    }
}



.btn-warning {
    background: linear-gradient(89.99deg, #FF9344 1.01%, rgba(255, 174, 53, 0.94) 99.99%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    color: white;
}

.btn-warning:hover {
    background: #ffffff;
    color: rgba(255, 174, 53, 0.94);
}

.btn-outline-warning {
    background: #FFFFFF;
    border: 1px solid #FF5C00;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(255, 96, 6, 0.1);
    border-radius: 9px;
    color: rgba(255, 92, 0, 0.83);
    font-weight:bold;
}


.btn-outline-warning:hover {
    background: #FF5C00;
}

/* #loading-screen {
    display: none!important;
} */

/* #form-konten .form-group {
    position: relative;
}

#form-konten .form-group i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    color: #B1B1B1;
    left: 10px;
    transform: translateY(-50%);
}

.form-group input, #form-konten input {
    font-size: 14px;
}

.form-group input::placeholder, #form-konten input::placeholder {
    font-size: 14px;
}

.form-group input:focus {
    outline: none!important;
} */

.form-input {
    font-size: 14px;
    padding:20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
    border-radius: 0!important;
    transition: all 0.3s;
}

.form-input:focus {
    outline: none!important;
    box-shadow: 1px 1px 1px 1px #ffffff!important;
    border-bottom: 1px solid #FF3D00!important;
    padding-bottom: 30px;
    transition: all 0.3s;
}

.font-bolder {
    font-weight: bolder;
}

.font-bold-300 {
    font-weight: 300;
}

.font-bold-500 {
    font-weight: 500;
}

.font-14 {
    font-size: 14px;
}

.text-warning {
    color: #FF3D00!important;
}

.g-signin2{
    width: 100%;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.g-signin2 > div{
    margin: 0 auto;
}


.wrapper-50-100 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-60-100 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.wrapper-80-100 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1020px){
    .wrapper-60-100 {
        width: 100%;
    }
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 80%;
}

.progressbar-item {
    z-index: 2;
}

.connector {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #67A37F;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-link-auth {
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 8px!important;
    text-decoration: none;
    background-color: #F4F4F4!important;
    color: #D1D1D1!important;
}

.nav-link-auth.active {
    font-size: 13px;
    background-color:#F0F8F3!important;
    color: #67A37F!important;
}


/* new */
.auth-wrapper {
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    overflow-x: hidden;
}

.auth-row__wrapper {
    position:relative;
    min-height:100vh; 
    padding:0 120px;
}

.auth-bg__dark {
    position:absolute;
    right:0;
    top:0;
    width:30%;
    height:80%;
    background: linear-gradient(180deg, #F0F0F0 0%, rgba(255, 255, 255, 0) 100%);
    transform: translate(180px,-70px) rotate(35.52deg);
}

.auth-card__wrapper {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.09);
    border-radius:32px; 
    padding-top: 40px;
    padding-bottom: 20px;
    margin:0 auto;
    width: 90%;
}

.auth-card__wrapper.regist {
    padding-top: 8px!important;
}

.auth-left__content > div > h1 {
    font-family: 'Varela Round', sans-serif;
    color: #FF9344;
    font-weight: bolder;
}

.auth-left__content > div > p {
    color:#6C6C6C;
    font-weight: 500;
    font-size: 16px;
}

.auth-form__title {
    font-family: 'Varela Round', sans-serif;
    color: #454545;
    font-weight: bolder;
}

.auth-title__in {
    position: relative;
    color: #FF9900;
}

.auth-title__in::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -7px;
    transform: rotate(-2deg);
    width: 100%;
    height: 4px;
    -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF9900;
}

.auth-form__icon {
    width: 40%;
    object-fit: cover;
}

.font-or {
    color:#FF9344!important;
}

.fw-700 {
    font-weight: 700;
}


.btn-auth__submit {
    background: #FF9344;
    color: #ffffff;
    font-size: 12px;
    padding: 13px 0;
    margin-top: 15px;
}

.btn-auth__submit:hover {
    background: #ff7e22;
    color: #ffffff;
}

@media screen and (max-width:1200px){
    .auth-row__wrapper {
        padding: 0 40px;
    }
    .progressbar.regist {
        display: none;
    }
}

@media screen and (max-width:1140px){
    .auth-bg__dark {
        display: none;
    }
}

@media screen and (max-width:768px){
    .auth-row__wrapper {
        padding: 0 0;
    }

    .auth-logo__wrapper {
        display: none;
    }

    .auth-left__content {
        display: none;
    }

    .auth-card__wrapper {
        width: 90%;
    }

    .auth-right__content {
        display: flex;
        align-items: flex-end!important;
    }
    
}