/*
 * Senna Apps
 * Copyright (c) 2022.
 */

@font-face {
    font-family: "Font Poppin";
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: "Font Poppin Medium";
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/arial-rounded-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*
 * Senna Apps
 * Copyright (c) 2021.
 */

#loading-screen{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999999999999;
    background: rgba(255, 255, 255, 0.45);
}

#loading-box{
    margin: -65px 0 0 -160px;
    display: block;
    width: 300px;
    height: 110px;
    background: #fff;
    padding: 10px;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(71, 71, 71, 0.25);
    text-align: center;
    color: #616161;
    font-style: italic;
}

#loading-box span{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 10px;
}

a, button{
    transition: 0.3s;
    cursor: pointer;

}

table{
    border-collapse: collapse !important;
}

#modal-output{
    font-size: 11px;
}

#confirm-button-action{
    text-align: right;
    margin: 5px 0 0 0;
}

#confirm-button-action a{
    margin-left: 5px;
    color: white;
    text-align: center;
}

.preview-content {
    border: 1px solid #cacaca;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
    max-height: 500px;
    overflow: auto;

}

.center-alert {
    text-align: center;
}

#waiting-screen{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999999999999;
    background: rgba(255, 255, 255, 0.45);
}

#waiting-box{
    margin: -65px 0 0 -160px;
    display: block;
    width: 300px;
    height: 110px;
    background: #fff;
    padding: 10px;
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(71, 71, 71, 0.25);
    text-align: center;
    color: #616161;
    font-style: italic;
}

#waiting-box span{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 10px;
}

.card-minimal{
    min-height: 450px;
}

.indent-dash{
    display: inline-block;
    height: 1px;
    position: relative;
    top: -4px;
}

#form-filter-laporan {
    background:#391E94;
    padding: 10px 20px 30px 20px;
    font-size: 90%;
    position: fixed;
    top: 70px;
    width: 250px;
    right: 0;
    color: #fff;
    height:100%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto
}

#form-filter-laporan,
#main-widget {
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all
}

#form-filter-laporan h4.title {
    font-weight: 500;
    margin: 5px 0 15px 0;
    font-size: 17px
}

#form-filter-laporan .form-group {
    margin: 0 0 10px 0 !important;
    display: inline-block;
    width: 100%
}

#form-filter-laporan .form-group .control-label {
    padding: 0;
    margin: 0 0 3px 0;
    font-weight: 400;
    display: block;
    text-align: left
}

#form-filter-laporan #available-field-filter {
    max-height: 300px;
    overflow-x: hidden;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    color: #000
}

#form-filter-laporan #available-field-filter label {
    display: block
}

#form-filter-laporan.filter-hidden {
    right: -250px
}

#form-filter-laporan.filter-not-ready {
    right: -310px
}

#show-hide-filter-btn.shown {
    right: 0
}

#show-hide-filter-btn.filter-shown {
    right: 250px
}

#show-hide-filter-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: -50px;
    background:#391E94;
    top: 143px;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all
}


#show-hide-filter-btn .fa-search {
    color: #fff !important;
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 14px
}



.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

body {
    background: #fcfcfc;
    font-family: 'Poppins', sans-serif!important;
}

#main {
    min-height: 90vh;
}
.arial-rounded {
    font-family: 'ArialRoundedMTBold', sans-serif !important;
}

/* header */

.main-header {
    background: #391E94;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width:100%;
    height: 70px;
    position:fixed;
    top:0;
    z-index:1300;
}

.main-header-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
}

.main-header__btn__link {
    border:2px solid #FFFFFF;
    border-radius:8px;
    color: #FFFFFF!important;
}

@media screen and (min-width: 1200px){
    .menu-header-icon {
        color: #ffffff;
    }

    .main-header-select {
        border: none;
        background-color: transparent;
        background:transparent;
        -moz-appearance: none;
        appearance: none;
        color: #ffffff;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAAcCAYAAADbeRcAAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFwSURBVHgB7ZjhbYMwEIU9AhuUETJCR8gI2aDdIN2AbEA3YARGYIQbgRFez7ItIUrInXMmIOWT7g8x9j3Zjwdx7s2bYwGg5mq4iGvgav01dyC434rrxPW59GMdxc3x107uAHCfX1zjrPfLdECLda5up8Tda1Z6P6eBEhq3MxBO4PCg7yENHoVC/YS12wF+hxR9f/gbesghvNinvP5V0S/STfcePGt8u41B8F8PHe10ghyhmz2QEKKBoIOwZC++eIOO4j7F/3iQ8MtVrU36Ax1UQigex8M9ZFaC/niMMPQpZPEwh7D0tiNYiKDjaZ/6RqE/nj1yTxPCkdH6tMtdEMp4iNycBSjsU+TFg9/ti7ME4S2DlE2cBfPaxYORUFOfokQ8GAmt4kIaumljKB0PhmKzfIqt4sFQqOZrIDW7XTwYCs3xqRSbeLAAwWMd7LCPByug9+kShL3/ieZ3AHrfJcrHgxU4yIf400ShvUAcoXA8/AFjBfMfT44x1gAAAABJRU5ErkJggg==');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .90em auto, 100%;
        padding: 0 20px;

    }

    .main-header-select:focus {
        background-color: transparent!important;
        color: #ffffff;
    }

    .main-header-select:focus option {
        color: #000;
    }

    .main-header-menu-btn {
        display: none;
    }
}


@media screen and (max-width: 1199px){
    .main-header-logo {
        display: none!important;
    }

    .main-header__btn__link {
        display: none!important;
    }
}

/* end header */

.list-group-item:hover, .list-group-item a {
    color: #000!important;
}

.list-group-item:hover, .list-group-item a:hover {
    color: #391E94!important;
    transition: all 0.2s;
}

.navigation-menu-group ul li a:hover {
    color: #391E94!important;
    transition: all 0.2s;
}

.navigation-divider {
    color: #391E94!important;
}

/* #toast-container>.toast-success {
	background-color: #ff8000!important;
} */

a.dropdown-item {
    cursor: pointer!important;
}

body.stretch-layout #main .main-content {
    padding: 0!important;
}

.bg-gradient-danger {
    background-color: #391E94;
    background-image: linear-gradient(180deg,#391E94 10%,#391E94 100%)!important;
    background-size: cover;
}


.navigation-menu-body ul li>a.active {
    color: #391E94!important;
}

.navigation .navigation-menu-body ul li>a.active:after {
    background-color: #391E94!important;
}

/* button */

.btn {
    align-content: center!important;
}

.btn-darkblue {
    background: #5294C4;
    color: #fff;
}

.btn-darkblue:hover {
    color: #fff;

}


.btn-grey {
    background: #F5F5F5;
    color: rgba(155, 155, 155, 0.79)!important;
}

.btn-pink {
    background: #FFC2C2;
    color: #A73131!important;
}

.btn-purple {
    background: #E8BDFD;
    color: #6F338B!important;
}

.btn-lightblue {
    background: #CDEAFF;
    color: #2F73A4!important;
}

.btn-orange {
    background: #391E94;
    border: 1px solid rgba(157, 157, 157, 0.19);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}


.btn-pink:hover {
    background: #faa5a5!important;
}

.btn-purple:hover {
    background: #de9cff!important;
}

.btn-lightblue:hover {
    background: #b3ddfc!important;
}

.btn-edit-xs {
    border: none!important;
    padding: 6px!important;
    background: #DEF1FF!important;
    align-items: center;
    justify-content: center;
}

.btn-edit-xs span.fa-edit {
    /* color: #62AC29!important; */
    color: #2CBCFE!important;
}


.btn-edit-xs i.fa-edit {
    /* color: #62AC29!important; */
    color: #2CBCFE!important;
}

.btn-edit-xs span.fa-eye {
    color: #62AC29!important;
}

.btn-delete-xs {
    border: none!important;
    padding: 6px!important;
    background: rgba(172, 41, 41, 0.22)!important;
    align-items: center;
    justify-content: center;
}

.btn-delete-xs span.fa-trash-alt {
    color: #F25858!important;
}

/* .btn i {
    margin-right: 10px!important;
} */

/* .card-body .row .btn-rounded {
    -webkit-border-radius: 20px!important;
    border-radius: 20px!important;
} */

.btn-outline-warning {
    border: 2px solid #391E94;
    color: #391E94!important;
}

.btn-outline-warning:hover {
    color: #ffffff!important;
    background-color: #391E94!important;
}

.btn-collapse-product.btn-outline-warning:focus {
    background-color: #ffffff!important;
    color: #391E94!important;
}

.btn-success {
    background:#72BA6C!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff!important;
}

.btn.btn-light {
    background: #f8f9fc!important;
}

.btn.btn-danger {
    color: #ffffff!important;
}

.btn-bg__orange {
    background: #391E94;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.btn-bg__orange:hover {
    background: #391E94;
}

/* end button */

/* table */
.dataTables_wrapper .dataTables_paginate {
    display: block;
}

.dataTables_wrapper .dataTables_length select {
    float: none!important;
}


.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #e5e5e5;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

.table-bordered thead th {
    border-bottom-width: 0px!important;
}


.table.th-light thead th {
    color: rgba(119, 119, 119, 0.79);
}

.table.table-custom thead th {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
    border-bottom: none!important;
    font-weight: bold!important;
    color: #515151!important;
    font-size: 12px!important;
    padding: 18px;
}

.table.table-custom td {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
    border-bottom: 1px solid rgba(186, 186, 186, 0.32)!important;
    color: #3D3D3D;
    padding: 18px;
}

.table.table-custom thead {
    color: #858796!important;
    background: #F6F6F6!important;
}

.table tbody {
    font-size: 12px!important;
    color: #858796!important;
}

.table-responsive {
    overflow: auto!important;
}

.table-search-input-wrapper {
    position: relative;
}

.table-search-input {
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.table-search-input:focus {
    border: 2px solid #e5e5e5;
}

.table-search-input:focus::placeholder {
    color: transparent;
}

.table-search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 14px;
    color: #CACACA;
}


.pagination .page-item .page-link {
    background: rgb(143, 188, 252) !important;
    color: rgba(119, 119, 119, 0.79)!important;
    border: none!important;
    margin-left: 0!important;
}


.pagination .page-item.previous {
    margin-right: 10px;
    border-radius: 50%;
}

.pagination .page-item.next {
    margin-left: 10px;
    border-radius: 50%;
}

.pagination .page-item.previous, .pagination .page-item.next {
    /* border: 1px solid #dee2e6!important; */
    border: none!important;
}

.pagination .page-item.previous .page-link, .pagination .page-item.next .page-link {
    border-radius: 50%;
}

.pagination .page-item:nth-last-child(2) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pagination .page-item:nth-child(2) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pagination .page-item:nth-last-child(2) .page-link{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pagination .page-item:nth-child(2) .page-link {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


.pagination .page-item {
    background: #ffffff!important;
    font-size: 12px!important;
}

.pagination .page-item.active {
    background-color: #fff;
}

.pagination .page-item.active {
    background: rgba(255, 142, 45, 0.22)!important;
    border: none!important;
    border-right: none!important;
}

.pagination .page-item.active .page-link {
    background: #391E94!important;
    color: #ffffff!important;
    border-radius: 50%;
}

.pagination .page-item a.page-link:focus {
    box-shadow: none!important;
}

/* end table */

/* tab */
.container-fluid > .nav-tabs {
    border-bottom: none!important;
}

.container-fluid > .nav-tabs .nav-link {
    color: #A8A8A8!important;
    border: none!important;
}

.container-fluid > .nav-tabs .nav-link.active {
    color:#391E94!important;
    font-weight: 600!important;
    background: transparent!important;
    box-shadow: none!important;
    position: relative;
    margin-bottom: 10px;
}

.container-fluid > .nav-tabs .nav-link {
    position: relative;
}

.container-fluid > .nav-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background:#391E94;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

@media screen and (max-width: 768px){
    .container-fluid > .nav-tabs .nav-link.active::after {
        width: 0;
    }
}

.nav-tabs.tabs-trans {
    border-bottom: none!important;
}

.nav-tabs.tabs-trans .nav-link {
    color: #A8A8A8!important;
    border: none!important;
}

.nav-tabs.tabs-trans .nav-link.active {
    color: #391E94!important;
    font-weight: 600!important;
    background: #ffffff!important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.nav-pills .nav-link.active {
    color: #ffffff!important;;
    font-weight: 600!important;
    background: #391E94!important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.nav-pills .nav-link:hover {
    transform: translateX(8px);
    color: #391E94;
    transition: transform 0.3s;
}

/* end tab */



.navigation {
    transition: width 0.2s linear;
}

.header {
    transition: margin-left 0.2s linear;
}

/* page-header */

.page-header {
    transition: width 0.2s linear;
    height: fit-content!important;
}

.page-header h4 {
    color: #323232;
    font-weight: 600;
}

.page-header span {
    color: #979797;
}

/* end page-header */

.navigation-menu-tab {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.navigation .navigation-menu-tab ul li a i {
    font-size: 16px!important;
}


.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* modal */

.modal {
    z-index: 1500!important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)!important;
}

.modal-title {
    color: #747474!important;
    font-weight: bold!important;
}

.span-text {
    color: #A4A4A4!important;
    font-size: 12px!important;
}

.fade {
    z-index: 1400!important;
}

.modal-header {
    background-color: #ffffff!important;
    border-bottom: 1px solid #eee!important;
}

/* .modal-title {
    font-weight: 100!important;
} */

.modal-footer .btn-light {
    background: #F0F0F0!important;
    border: 1px solid #CDCDCD!important;
    color: rgba(119, 119, 119, 0.79)!important;
}

/* end modal */

.menu-icon {
    width: 20px;
    object-fit: cover;
}

/* .navigation .navigation-menu-tab ul li a.active:after {
    background-color: #FEDBB5!important;
    opacity: 0.5;
} */

.bold-400 {
    font-weight: 500;
}


/* menu */
.main-navigation {
    width: 75px;
    background-color: #ffffff;
    background: #fff;
    z-index: 1100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    /* -webkit-box-direction: normal; */
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid #f1f1f1;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    /* overflow-y: auto;
    overflow-x: hidden; */
    transition: width 0.4s ease;
    border-right: none!important;
}

.main-navigation > ul {
    width:100%;
}

.main-navigation.remove-overflow {
    overflow-y: visible;
    overflow-x: visible;
}

.main-navigation::-webkit-scrollbar {
    width: 8px;
}

.main-navigation::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f5f3f3;
    border-radius: 10px;
}

.main-navigation::-webkit-scrollbar-thumb {
    background: #eee;
    cursor: pointer;
}

.main-navigation::-webkit-scrollbar-thumb:hover {
    background: #c4c3c3;
}

.tooltip {
    z-index: 1400!important;
}
.main-navigation-menu {
    display: none;
}

.main-navigation-item {
    position: relative;
}


.main-navigation-item a:hover {
    color: #391E94;
}

i.sub-menu-arrow.ti-angle-right {
    position: absolute;
    right: -20px;
    top: 5px;
    font-size: 8px!important;
}

.main-navigation-open {
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: start;
    box-sizing: border-box;
    transition: width 0.4s ease;
}

.main-content {
    transition: padding-left 0.4s ease!important;
}

.menu-list {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.6s, visibility 0.4s, opacity 0.4s;

}

.open-menu.menu-list {
    max-height: 600px;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.6s, visibility 0.4s, opacity 0.4s;
}


.main-navigation-open .main-navigation-menu {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

.open-menu.main-navigation-menu {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

.main-navigation-subitem {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.6s, visibility 0.4s, opacity 0.4s;
}

.open-submenu.main-navigation-subitem {
    max-height: 600px;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.6s, visibility 0.4s, opacity 0.4s;
}

.rotate180 {
    transform:rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
    transition: transform 0.4s;
}

.p-10 {
    padding: 10px;
}

.py-10 {
    padding: 10px 0;
}

.active-menu {
    background: #b5cafe;
    border-radius: 4px;
}

.active-link {
    color: #391E94!important;
}

.main-toggle {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:75px;
}

.open-main-toggle {
    width: 300px;
}

.bg-main-toggle {
    background:#FFFFFF!important;
    border-top: 1px solid #eee;
}

@media screen and (max-width:1199px){
    .main-navigation {
        max-width: 0;
        transition: max-width 0.5s;
    }

    .main-navigation ul li {
        transform: translateX(-100px);
        transition: transform 0.5s;
    }

    .dflex {
        max-width: 300px;
        transition: max-width 0.5s;
    }

    .dflex.main-navigation ul li {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    .main-header-menu-btn .navigation-toggler {
        background-color: transparent!important;
    }
}

.menu-item-li {
    position: relative;
}

.menu-item-li .item-link {
    margin: 0 auto;
}

.menu-item-li .item-link .iconify {
    color: #C3C3C3;
    width: 22px!important;
    height: 22px!important;
}

.menu-item-li .item-link.active-menu {
    background: rgba(250, 107, 32, 0.09)!important;
    text-align:center;
    width: 100%;
    border-left: 3px inset #391E94;
    border-radius: 0!important;
}

.menu-item-li .item-link.active-menu:hover {
    transform: translateX(0)!important;
}

.menu-item-li .item-link.active-menu .iconify {
    color: #391E94!important;
}

.menu-item-li .item-link:hover {
    transform: translateX(6px)!important;
    color: #391E94;
    transition: all 0.2s;
}

.submenu-collapse {
    width:fit-content;
    height:100%;
    background-color:#fff;
    position:absolute;
    top:0;
    left:75px;
    padding-top: 100px!important;
    z-index:1009!important;
}

.submenu-row {
    position: fixed;
    top: 0;
    left: 8px;
    width: 100px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    transform: translateX(-600px);
    padding-top: 100px;
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.submenu-row > ul {
    padding-left: 40px;
    padding-right: 40px;
}

.submenu-row.open-sub-menu {
    width: 270px;
    transform: translateX(60px);
}

@media screen and (max-width:576px){
    .submenu-row {
        width: 50%;
    }
    .submenu-row.open-sub-menu {
        width: 100%;
        transform: translateX(60px);
    }
}

.submenu-wrapper {
    display: block;
}

.title-combo-menu {
    color:#474747!important;
    font-weight: bold!important;
    margin-left: 26px;
}

.submenu-li {
    padding: 8px 0;
}

.submenu-li.active {
    background: rgba(235, 235, 235, 0.36)!important;
    width: 100%;
}
.submenu-li.active .submenu-link .iconify {
    color: #515151!important;
}
.submenu-li.active .submenu-link span {
    color: #515151!important;
    font-weight: 600!important;
}

.submenu-link {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0!important;
    text-align: left;
    margin-left: 26px;
}

.submenu-link span {
    color: #A4A4A4!important;
    justify-self: center;
    align-self:center;
    font-size: 14px;
    font-weight: 530!important;
}

.submenu-link .iconify {
    color: #A4A4A4!important;
    align-self:center!important;
    width: 21px!important;
    height: 21px!important;
    margin-right: 13px;
}

/* end menu */

footer {
    position: absolute;
    bottom: 0!important;
}


/* text */
.text-orange {
    color:#391E94!important;
}

.text-note {
    color: #747474;
}

.text-tosca {
    color: #62AC29!important;
}

.text-span-desc {
    color: rgba(61, 61, 61, 0.73);
}

/* end text */


/* form */

.form-konten .form-control {
    background-color:#FFFFFF!important;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    padding: 20px!important;
    color: rgba(119, 119, 119, 0.79)!important;
    border-radius: 5px!important;
}

.form-konten .form-control::placeholder {
    color: #CDCDCD!important;
}

.form-konten input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

.form-konten textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

.form-konten select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

.form-konten .form-control:focus {
    border: 1px solid #391E94!important;
}

.form-konten label {
    color: rgba(79, 79, 79, 0.79)!important;
}

.form-konten .form-text {
    color: #858585!important;
    font-size: 11px;
}

.form-konten .form-control:disabled {
    background-color: #F0F0F0!important;
    cursor: not-allowed;
    border: none!important;
}

#form-konten .form-control {
    background-color:#FFFFFF!important;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    padding: 20px!important;
    color: rgba(119, 119, 119, 0.79)!important;
    border-radius: 5px!important;
}

#form-konten .form-control::placeholder {
    color: #CDCDCD!important;
}

#form-konten input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

#form-konten textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

#form-konten select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

#form-konten .form-control:focus {
    border: 1px solid #391E94!important;
}

#form-konten label {
    color: rgba(79, 79, 79, 0.79)!important;
}

#form-konten .form-text {
    color: #858585!important;
    font-size: 11px;
}

#form-konten .form-control:disabled {
    background-color: #F0F0F0!important;
    cursor: not-allowed;
    border: none!important;
}

/* #form-konten .select2-container--default .select2-selection--single {
    background-color: #FFFFFF!important;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
} */


#form-konten-time .form-control {
    background-color:#FFFFFF!important;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    padding: 20px!important;
    color: rgba(119, 119, 119, 0.79)!important;
    border-radius: 5px!important;
}

#form-konten-time .form-control::placeholder {
    color: #CDCDCD!important;
}

#form-konten-time input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

#form-konten-time textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

#form-konten-time select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

#form-konten-time .form-control:focus {
    border: 1px solid #391E94!important;
}

#form-konten-time label {
    color: rgba(79, 79, 79, 0.79)!important;
}

#form-konten-time .form-text {
    color: #858585!important;
    font-size: 11px;
}

#form-konten-time .form-control:disabled {
    cursor: not-allowed;
}

/* #form-konten-time .select2-container--default .select2-selection--single {
    background-color: #F0F0F0!important;
} */

.form-time-input {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    font-size: 48px;
    padding: 20px;
}

.form-time-input:focus {
    border: 1px solid #391E94;
}

.time-lines {
    width: 70%;
    height: 3px;
    background-color: #CDCDCD;
    transform: translate(10px,-20px)!important;
}

/* end form */



/* form filter */

.arrow-up-filter {
    position: absolute;
    top: -15px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;

    border-bottom: 35px solid #fff;
}

.form-filter {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    width: 0;
    height: 0;
    visibility: hidden;
    transform: translateY(-5px);
    z-index: 1000;
    border-radius: 5px;
    transition: transform 0.3s;
}

.show-filter {
    visibility: visible;
    padding: 40px;
    width: 95%;
    height: fit-content;
    transform: translateY(10px);
    transition: transform 0.3s;
}


.form-filter .form-control {
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 22.5px;
    color: rgba(119, 119, 119, 0.79);
}

.form-filter .form-control::placeholder {
    color: rgba(119, 119, 119, 0.79);
}

.form-filter input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

.form-filter textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

.form-filter select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

.form-filter .form-control:focus {
    border: 1px solid #391E94!important;
}

.form-filter label {
    color: rgba(61, 61, 61, 0.73)!important;
}

.select-filter {
    border-radius: 20px;
    color: rgba(119, 119, 119, 0.79);
    height: 30px!important;
}



/* end form filter */

/* form filter 2 */
.btn-show-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    background: linear-gradient(180deg, #391E94 0%, #391E94 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.btn-show-filter.show {
    right: 400px;
}

.btn-show-filter-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.form-filter2 {
    background: #ffffff;
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 400px;
    right: -500px;
    color: #fff;
    height:100%;
    z-index: 1900!important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    overflow-y: auto;
    overflow-x: hidden;
}


.form-filter2::-webkit-scrollbar {
    width: 10px;
}

.form-filter2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f5f3f3;
    border-radius: 10px;
}

.form-filter2::-webkit-scrollbar-thumb {
    background: #eee;
    cursor: pointer;
}

.form-filter2::-webkit-scrollbar-thumb:hover {
    background: #c4c3c3;
}

.form-filter2.show {
    right: 0;
}

.form-filter2 .form-control {
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: rgba(119, 119, 119, 0.79);
}

.form-filter2 .form-control::placeholder {
    color: rgba(119, 119, 119, 0.79);
}

.form-filter2 input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

.form-filter2 textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

.form-filter2 select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

.form-filter2 .form-control:focus {
    border: 1px solid #391E94!important;
}

.form-filter2 label {
    color: rgba(61, 61, 61, 0.73)!important;
}

/* end form filter 2 */

/* form filter 3 */
.btn-show-filter3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    top: 110px;
    background: linear-gradient(270deg, #391E94 0%, #391E94 100%)!important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.btn-show-filter3.show {
    right: 400px;
}

.btn-show-filter3.hide {
    right: 200px;
}

.form-filter3 {
    background: #ffffff;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    height: 80%;
    width: 400px;
    border-top-left-radius:  16px;
    border-bottom-left-radius: 16px;;
    right: -500px;
    color: #fff;
    height: 80%;
    top: 110px;
    z-index: 500!important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-filter3-header {
    background: linear-gradient(270deg, #391E94 0%, #391E94 100%)!important;
}

.form-filter3-text-header {
    font-size: 17px;
}


.form-filter3::-webkit-scrollbar {
    width: 10px;
}

.form-filter3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f5f3f3;
    border-radius: 10px;
}

.form-filter3::-webkit-scrollbar-thumb {
    background: #eee;
    cursor: pointer;
}

.form-filter3::-webkit-scrollbar-thumb:hover {
    background: #c4c3c3;
}

.form-filter3.show {
    right: 0;
}

.form-filter3 .form-control {
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: rgba(119, 119, 119, 0.79);
}

.form-filter3 .form-control::placeholder {
    color: rgba(119, 119, 119, 0.79);
}

.form-filter3 input[type="file"].form-control {
    padding: 4px 20px 6px 20px!important;
}

.form-filter3 textarea.form-control {
    resize: none!important;
    height: 106px!important;
}

.form-filter3 select.form-control {
    padding: 8px 20px 10px 20px!important;
    height: 40px;
}

.form-filter3 .form-control:focus {
    border: 1px solid #391E94!important;
}

.form-filter3 label {
    color: rgba(61, 61, 61, 0.73)!important;
}
/* end form filter 3 */

/* side popup */

.side-popup {
    background: #ffffff;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    width: 500px;
    right: -500px;
    color: #fff;
    top: 0;
    bottom: 0;
    z-index: 1500!important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.side-popup.show {
    right: 0;
}



/* end side popup */

/* table transaction */

.table.table-add-trans thead tr th {
    background-color: #F0F0F0;
    color: rgba(119, 119, 119, 0.79);
    border-bottom-width: 0px!important;
}

.table.table-detail-trans thead tr th {
    color: rgba(119, 119, 119, 0.79)!important;
    border-bottom-width: 0px!important;
}

.table.table-detail-trans tbody tr td {
    color: rgba(119, 119, 119, 0.79)!important;
}

.table-striped.table.table-detail-trans tbody tr:nth-of-type(odd) {
    background-color: #F0F0F0!important;
}

.table-note tr td {
    padding-bottom: 10px!important;
}

.trans-info dd span {
    color: rgba(61, 61, 61, 0.73);
    font-size: 14px;
}

.trans-info dt h5 {
    color: #323232;
    font-weight: 600;
}

/* end table transaction */

/* badge */
.badge-lightgreen {
    background-color: #DCEDD0;
    color: rgba(41, 138, 17, 0.85);
    font-size: 12px;
    border-radius: 20px;
}

.badge-lightred {
    background-color: #EDD0D0;
    color: rgba(171, 59, 59, 0.85);
    font-size: 12px;
    border-radius: 20px;
}

/* end badge */

/* dropdown notif */
.dropdown-notif {
    overflow-y: auto;
}

.dropdown-notif::-webkit-scrollbar {
    width: 8px;
}

.dropdown-notif::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f5f3f3;
    border-radius: 10px;
}

.dropdown-notif::-webkit-scrollbar-thumb {
    background: #eee;
    cursor: pointer;
}

.dropdown-notif::-webkit-scrollbar-thumb:hover {
    background: #c4c3c3;
}

/* end dropdown notif */

/* padding */
.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}
/*end padding */

/* indent dash */
.indent-dash {
    margin-right: 15px!important;
}
/* end indent dash */

/* select2 */
.select2-dropdown {
    z-index: 1600!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #89969F!important;
}

/* end select2 */

/* dashboard */
.dashboard-info__list li {
    border-bottom: 1px solid rgba(157, 157, 157, 0.19);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.dashboard-info__list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashboard-info__code {
    color: rgb(0, 136, 255);
}

.dashboard-info__name {
    color: #505050;
}

.dashboard-info__alert__success {
    color:#298A11;
    background: #C8F3BD;
    border-radius:20px;
    padding:7px 15px;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard-info__alert__warning {
    color:#5B2600;
    background:#FFC793;
    border-radius:20px;
    padding:7px 15px;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* end dashboard */

/* store */
.store-qr__wrapper {
    background-image: linear-gradient(#391E94,#391E94);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    height: fit-content;
    border-radius: 16px;
}

.store-qr__img__wrapper {
    position: relative;
    border-radius: 12px;
    background-color: #e2e2e2;
}

.store-qr__img__wrapper > img {
    width: 100%;
    border-radius: 12px;
}

.store-qr__triangle {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e2e2e2;
}

.store-qr__merchant__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.store-qr__merchant__info > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.store-qr__merchant__info > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.card-store__product {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.img-card__store__wrapper {
    width: 100%;
    height: 160px;
    border-bottom: none;
    border-radius: 10px;
    position: relative;
}

.card-store__discount {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #FFDCDC;
    padding: 6px;
    border-radius: 8px;
}

.card-store__discount > span {
    color: #FF5050;
    font-weight: 600;
    font-size: 11px;
}

.img-card__store {
    width: 100%;;
    height: 160px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-store__product .card-body {
    height: 120px;
}

.card-store__catalog .card-body {
    height: 160px!important;
}

.card-store__product .card-footer {
    border-top: none;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

.card-store__product__title {
    color: #5E5E5E;
    text-transform: capitalize;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-store__product__price {
    color: #391E94;
    font-weight: 600;
    text-align: left;
}

.card-store__product__stock {
    color: #939393;
}

.btn-store {
    background-color: #391E94;
    color: #fff;
}

.btn-store__checked {
    background-color: #e94d4d;
    color: #fff;
}

.btn-store:hover {
    background-color: #fff;
    border: 1px solid #391E94;
    color: #391E94;
}

.btn-store__checked:hover {
    background-color: #fff;
    border: 1px solid #e94d4d;
    color: #e94d4d;
}


/* end store */

/* order online */
.card-order__online {
    height: 320px;
    border-radius: 22px;
}

.card-order__online .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-order__online > .card-footer {
    border-top: none;
    text-align: center;
    padding: 20px 0;
}

.order-online__upper > img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.order-online__upper > h4 {
    color: #323232;
    font-weight: bolder;
    font-size: 16px;
}

.order-online__upper > span {
    color: #A8A8A8;
    font-size: 16px;
}


.btn-order__online {
    color: #ffffff;
    background: #72BA6C;
    border-radius: 20px;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 14px;
    padding: 10px 35px;
}

.btn-order__online:hover {
    color: #72BA6C;
    border: 1px solid #72BA6C;
    background: #fff;
}

.z1600 {
    z-index: 1600!important;
}

.modal-submission .modal-dialog .modal-content {
    padding: 21px!important;
}

.modal-submission .modal-dialog .modal-content .modal-header {
    border-bottom: none!important;
}

.modal-submission .modal-dialog .modal-content .modal-footer {
    border-top: none!important;
}

.modal-submission .modal-dialog .modal-content .modal-header button.close {
    color: #959595!important;
}

.modal-submission .modal-title {
    color: #515151;
    font-size: 24px!important;
}

.modal-submission .modal-body > h6 {
    color: #959595;
}



/* end order online */

/* grab style */
.grab-card__wrapper {
    border-radius: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.grab-list__step > li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(186, 186, 186, 0.32);
    padding-bottom: 10px;
}

.grab-list__step > li img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.grab-list__step > li .grab-list__step__nonactive {
    width: 21px;
    height: 21px;
    background-color: #C4C4C4;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 11px;
}


.grab-list__step > li span {
    font-size: 16px;
    color: #c1c1c1;
}

.grab-list__step > li.active {
    color: #62AC29;
    border-bottom: 1px solid #62AC29;
}

.grab-list__step > li.active span {
    color: #62AC29;
}

.btn-grab__submit {
    background: #72BA6C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px 20px;
}

.btn-grab__submit:hover {
    background: #FFFFFF;
    color: #72BA6C;
    border: 1px solid #72BA6C;
}

.btn-grab__submit i{
    font-size: 12px;
}

.input-grab__file {
    width: 100%;
    height: 90px;
    padding: 0 30px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.input-grab__file > span {
    font-size: 14px;
    color: #A4A4A4;
    font-weight: 500;
}

.input-grab__file > div img.upload-icon {
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.input-grab__file > div span {
    font-size: 14px;
    color: #62AC29;
}

.upload-preview__image {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background: #391E94!important;
}

.grab-btn__group label {
    color: #A4A4A4!important;
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
}

.grab-btn__group label.active {
    color: #FFFFFF!important;
    background: #391E94!important;
}

.grab-btn__group label:hover {
    background: #391E94!important;
}

.g-time__connect {
    width:100%;
    height:1px;
    background:#000;
}


/* end grab style */

/* tour */

.tour-wrapper__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.33);
    pointer-events: none;
    z-index: 2000!important;
}

.tour-wrapper {
    width: 240px;
    height: fit-content;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    top: 50px;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 2100!important;
}

.tour-wrapper__left {
    width: 320px;
    height: fit-content;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    top: 0;
    right: 0;
    left:100%;
    transform: translateX(40px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 2100!important;

}

.tour-wrapper__left__top {
    width: 320px;
    height: fit-content;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    bottom: 0;
    right: 0;
    left:100%;
    transform: translateX(40px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 2100!important;

}


.tour-arrow__up {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #FFFFFF;
    position: absolute;
    top: -15px;
    right: 8px;
}

.tour-arrow__left {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right:18px solid #FFFFFF;
    position: absolute;
    top: 7px;
    right: 100%;
    left: 0;
    transform: translateX(-13px);
}

.tour-arrow__left__bottom {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right:18px solid #FFFFFF;
    position: absolute;
    bottom: 7px;
    right: 100%;
    left: 0;
    transform: translateX(-13px);
}


.btn-tour__next {
    border: none;
    background-color: #72BA6C;
    padding: 6px 14px;
    border-radius: 14px;
    color: #fff;
    font-size: 10px;
}

.btn-tour__back {
    border: none;
    background-color: #F0F0F0;
    padding: 6px 14px;
    border-radius: 14px;
    color: #777777;
    font-size: 10px;
}

.btn-tour__skip {
    border: none;
    background-color: #391E94;
    padding: 6px 14px;
    border-radius: 14px;
    color: #FFF;
    font-size: 10px;
}

.modal.modal-tour .modal-dialog .modal-content {
    background-color: transparent!important;
    border-radius: 14px;
}

.modal.modal-tour .modal-dialog .modal-content .modal-body {
    padding: 0!important;
}

.modal.modal-tour .modal-dialog .modal-content img {
    border-radius: 14px;
}

.modal-tour__button {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.modal-tour__button > .btn-tour__back {
    background-color: transparent!important;
    font-size: 14px;
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 15px!important;
}

.modal-tour__button > .btn-tour__next {
    background-color: #FFF!important;
    font-size: 14px;
    color: #391E94;
    border-radius: 15px!important;
}

.modal-tour__button > .btn-tour__next:hover {
    background-color: transparent!important;
    color: #fff;
    border: 1px solid #FFF;
}

.modal-tour__button > .btn-tour__back:hover {
    background-color: #fff!important;
    color: #391E94;
    border: none;
}

/* end tour */

/* create product */
.preview-image__product__wrapper {
    width: 110px;
    cursor: pointer;
}

.product-plus__icon {
    display:inline-block;
    width:110px;
    height:110px;

    background:
        linear-gradient(#D8D8D8,#D8D8D8),
        linear-gradient(#D8D8D8,#D8D8D8),
        #F0F0F0;
    background-position:center;
    background-size: 50% 8px,8px 50%;
    background-repeat:no-repeat;
    border-radius: 10px;
}

.preview-image__product {
    width:110px;
    height:110px;
    object-fit: cover;
    border-radius: 10px;
}

/* end create product */

/* subscribtion */

.card-sub {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding-top: 12px;
    padding-bottom: 20px;
}

.card-sub__title {
    font-size: 21px;
    font-weight: 600;
    color: #323232;
}

.card-sub__price__in {
    color: #454545;
    font-size: 22px;
}

.card-sub__price {
    color: #391E94;
    font-weight: 600;
    font-size: 39px;
}

.card-sub__price__discount {
    color: #A4A4A4;
    font-size: 16px;
}

@media screen and (max-width: 1426px){
    .card-sub__title {
        font-size: 20px;
    }

    .card-sub__price {
        font-size: 27px;
    }
}

@media screen and (max-width: 991px){
    .card-sub__title {
        font-size: 21px;
    }

    .card-sub__price {
        font-size: 23px;
    }

    .card-sub__price__discount {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .card-sub__title {
        font-size: 14px;
    }

    .card-sub__price {
        font-size: 17px;
    }

    .card-sub__price__discount {
        font-size: 12px;
    }
}

.card-sub__description ul {
    padding-inline-start: 20px!important;
}

.card-sub__description ul li {
    list-style-type: disc;
    color: #6E7071;
    font-size: 14px;
}

.card-sub__btn__buy {
    background: #F3F3F3;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 10px;
    color: rgba(119, 119, 119, 0.79)!important;
    font-size: 14px;
}

.card-sub__btn__buy:hover {
    border: 1px solid #72BA6C;
    background: #72BA6C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff!important;
}

.td-inv__description ul {
    padding-inline-start: 20px!important;
}

.td-inv__description ul li {
    list-style-type: disc;
    color: rgba(79, 79, 79, 0.79);
    font-size: 16px;
    margin-bottom: 14px;
}

.td-inv__icon ul li {
    color: #6E7071;
    font-size: 16px;
    margin-bottom: 14px;
}

.inv-btn__checkout {
    background: #391E94;
    border: none!important;
    color: #FFF;
    border-radius: 7px;
    font-weight: 700;
    padding: 15px 1.5rem;
}

.inv-btn__checkout:hover {
    background: #391E94;
}

.inv-btn__checkout:focus {
    background: #391E94;
    outline: none!important;
}

.inv-btn__checkout:disabled {
    background-color: #F0F0F0!important;
}

/* end subscribtion */

/* breadcrumb */
.page-header .breadcrumb li.breadcrumb-item:first-child:before {
    content: none!important;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    content: " \003E"!important;
    vertical-align: middle!important;
}

.page-header .breadcrumb-item a {
    font-size: 18px;
    font-style: normal!important;
    font-weight: 500!important;
}

.page-header .breadcrumb-item.active a {
    font-weight: 600!important;
}
/* end breadcrumb */


