@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/arial-rounded-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    display: swap;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ArialRoundedMTBold', sans-serif !important;
    color: #000000;
}

p {
    color: #4f4f4f;
}

.arial-rounded {
    font-family: 'ArialRoundedMTBold', sans-serif !important;
}

main {
    -webkit-transition: -webkit-transform 0.4s ease 0s;
    transition: -webkit-transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    width: 100%;
    overflow: hidden;
}

/* margin */
.mt-120 {
    margin-top: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-200-sm-0 {
    margin-top: 200px;
}

.mt-section-m-0 {
    margin-top: 120px;
}

.mt-section {
    margin-top: 11.5vh;
}

.mt-section-header {
    margin-top: 11.5vh;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-section {
    margin-bottom: 11.5vh;
}

.mb-main-title {
    margin-bottom: 65px;
}



.width-80 {
    width: 80%;
}

@media screen and (max-width: 768px){
    .mt-sm-28 {
        margin-top: 28px;
    }
}

@media screen and (max-width: 576px){
    .mt-section-m-0 {
        margin-top: 0px;
    }

    .mt-section {
        margin-top: 5vh;
    }

    .mt-200-sm-0 {
        margin-top: 0!important;
    }

    .mb-section {
        margin-bottom: 5vh;
    }

    .mb-200 {
        margin-bottom: 130px;
    }

    .d-block-sm {
        display: block;
    }

    .mx-s-auto {
        margin: 0 auto;
    }
}

/* end margin */

/* padding */
.px-smm-5 {
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 576px){
    .px-smm-5 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
/* end padding */


/* button */
button:focus {
    outline: none!important;
}

.btn-orange {
    background: #FF9344;
    box-shadow: 0px 10px 20px 0px #FF990026;
    color: #FFFFFF;
    transition: all 0.3s ease;
    padding: 9px 18px;
    text-decoration: none;
    border: 1px solid #FF9344;
}

.btn-orange:hover {
    background: #DD7427;
    box-shadow: 0px 10px 30px rgba(107, 107, 107, 0.15);
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.btn-orange-soft {
    background: #FDF5EE;
    box-shadow: 0px 5px 30px rgba(121, 121, 121, 0.1);
    color:#FF9344;
    transition: all 0.3s ease;
    padding: 9px 18px;
    text-decoration: none;
}

.btn-orange-soft:hover {
    background: #FF9344;
    box-shadow: 0px 5px 30px rgba(121, 121, 121, 0.1);
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.btn-white {
    background: #FFFFFF;
    color: #FF9900;
    transition: all 0.3s ease;
    padding: 9px 18px;
}

.btn-white:hover {
    background: #FF9344;
    box-shadow: 0px 5px 30px rgba(121, 121, 121, 0.1);
    color: #FFFFFF;
    transition: all 0.3s ease;
}


.btn-warning {
    background: #FF9344!important;
    color: #ffffff;
}

.btn-ifooter {
    color: #FF9344;
    background-color: #FDF5EE;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .btn-ifooter.footer-i-smd {
        font-size: 11px;
    }
}

@media screen and (max-width: 576px){
    .btn-ifooter.footer-i-smd {
        font-size: 9px;
    }
}

.btn-paket {
    background:#FDF5EE;
    color: #FF9900;
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(121, 121, 121, 0.1);
}

.btn-paket:hover {
    color: #FFFFFF;
    background:#FF9344;
}

.btn-outline-orange {
    box-shadow: 0px 10px 30px rgba(107, 107, 107, 0.15);
    color: #FF9344;
    transition: all 0.3s ease;
    border: 1px solid #FF9344;
}

/* end button */

/* background color */
.bg-orange {
    background-color: #FF9344;
}
/* end background color */

/* badge */
.badge-orange {
    background-color: #FBEBDB;
    color:#FF9900;
    padding: 15px 12px;
    border-radius: 10px;
    font-size: 16px;
}

@media screen and (max-width: 576px){
    .badge-orange {
        font-size: 12px;
    }
}

.badge-orange-sm {
    background-color: #FBEBDB;
    color:#FF9900;
    padding: 15px 12px;
    border-radius: 10px;
    font-size: 12px;
}

/* end badge */

/* radius */
.radius-8 {
    border-radius: 8px;
}

.radius-9 {
    border-radius: 9px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-18 {
    border-radius: 18px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-26 {
    border-radius:26px;
}

/* end radius */

/* section */
.section-header {
    position: relative;
    height: 100vh;
}

.section-header-padding {
    padding: 0 120px;
}

.section-padding {
    padding: 0 100px 0 100px;
}

.section-pl {
    padding-left: 100px;
}

@media screen and (max-width: 768px){
    .section-header-padding {
        padding: 0 10px 0 10px;
    }

    .section-padding {
        padding: 0 10px 0 10px;
    }

    .section-pl {
        padding-left: 10px;
    }
}

@media screen and (max-width: 576px){
    .section-padding {
        padding: 0 10px 0 10px;
    }
    .section-header-padding {
        padding: 0 10px 0 10px;
    }

    .section-pl {
        padding-left: 10px;
    }
}


.section-relative {
    position: relative;
}

.hero-right__img {
    position: absolute;
    top: -50px;
    right: 0;
    width: 60%;
    object-fit: cover;
    z-index: 1;
}

.hero-image__mobile {
    display: none;
}

@media screen and (max-width: 1199px){
    .hero-right__img {
        display: none;
    }

    .hero-image__mobile {
        display: block;
    }

    .hero-image__mobile > img {
        width: 60%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px){
    .hero-right__img {
        display: none;
    }

    .hero-image__mobile {
        display: block;
    }

    .hero-image__mobile > img {
        width: 80%;
        object-fit: cover;
    }
}

.bg-top__left {
    position: absolute;
    left: 0;
    z-index: 1;
}

.bg-middle__left {
    position: absolute;
    left: -300px;
    width: 50%;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

}

.bg-middle__right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.bg-top__right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.bg-home__feature {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.bg-bottom__center {
    position: absolute;
    bottom: 0;
    width: 70%;
    z-index: 2;
}

.bg-dotted__top__left {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 2;
}

.bg-bottom__rounded {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.bg-bottom__right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    object-fit: cover;
    z-index: 1;
}

.bg-top__rounded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transform: rotate(180deg);
    z-index: 1;
}

.overlay-top__rounded {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 50%;
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.overlay-bottom__rounded {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, #FF9344 0%, #FFFFFF 100%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.11;
}

.bg-section__pr {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
}

@media screen and (max-width: 992px){
    .bg-section__pr {
        display: none;
    }
}

.z-10 {
    z-index: 10!important;
}

.section-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.section-list__item {
    color: #4F4F4F;
}

.section-list__item > i.fa-check-circle {
    color: #FF9344;
}

@media screen and (max-width: 576px){
    .section-list__item {
        font-size: 14px;
    }
}



/* end section */

/* card */

.card.shadow {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05)!important;
}

.card-home__feature {
    position: relative;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 52px;
    width: 100%;
}

.padding-home__feature {
    padding: 0 100px 0 100px;
}

@media screen and (max-width: 1348px){
    .padding-home__feature {
        padding: 0 40px 0 40px;
    }
}

@media screen and (max-width: 768px){
    .padding-home__feature {
        padding: 0 10px 0 10px;
    }
}

.card-home__feature:hover {
    background: #FFFFFF!important;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05)!important;
}

.card-home__feature.active {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 0px #FF990026;
}

.card-home__feature > .card-header {
    position: relative;
    background: #ffffff;
    border: none;
    border-radius: 18px;
    height: 42px;
}

.card-home__feature > .card-body {
    height: 192px;
}

.card-home__feature__title {
    font-size: 18px;
}

.card-home__feature > .card-body p {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

@media screen and (max-width: 768px){

    .card-home__feature__title {
        font-size: 16px;
    }

    .card-home__feature > .card-body p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px){
    .card-home__feature__title {
        font-size: 14px;
    }

    .card-home__feature > .card-body p {
        font-size: 12px;
    }
}

.card-home__icon {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.card-type__business {
    position: relative;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 52px;
    background-color: #FDF5EE;
}

.card-type__business > .card-body a {
    display: block;
    text-decoration: none;
}

.card-type__business > .card-body img {
    width: 100%;
    object-fit: cover;
}

.card-type__business:hover {
    box-shadow: 0px 0px 8px 0px #FF990026;
}

@media screen and (max-width: 576px){
    .card-type__business > .card-body a {
        font-size: 10px;
    }
}

.card-manage__business {
    position: relative;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 52px;
}

.card-manage__business:hover {
    box-shadow: 0px 0px 8px 0px #FF990026!important;
}

.card-manage__business > .card-header {
    position: relative;
    border: none;
    border-radius: 18px;
    height: 260px;
}

.card-manage__business > .card-header img {
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translateX(-50%);
}

.cmb-title {
    font-size: 20px;
}

@media screen and (max-width: 576px){
    .card-manage__business > .card-header {
        height: 120px;
    }

    .cmb-title {
        font-size: 14px!important;
    }

    .card-manage__business > .card-body {
        height: 120px;
    }

    .card-manage__business > .card-body p {
        font-size: 12px;
    }
}

.card-manage__business.cmb-bg1, .card-manage__business.cmb-bg1 > .card-header {
    background: #FFF3DD;
}

.card-manage__business.cmb-bg2, .card-manage__business.cmb-bg2 > .card-header {
    background: #F7EFFF;
}

.card-manage__business.cmb-bg3, .card-manage__business.cmb-bg3 > .card-header {
    background: #FFE3E3;
}

.card-manage__business.cmb-bg4, .card-manage__business.cmb-bg4 > .card-header {
    background: #DEF7FF;
}

.card-manage__business.cmb-bg1 {
    box-shadow: 0px 4px 50px rgba(255, 153, 0, 0.1);
}

.card-manage__business.cmb-bg2 {
    box-shadow: 0px 4px 50px rgba(245, 128, 255, 0.1);
}

.card-manage__business.cmb-bg3 {
    box-shadow: 0px 4px 50px rgba(255, 0, 0, 0.1);
}

.card-manage__business.cmb-bg4 {
    box-shadow: 0px 4px 50px rgba(0, 255, 255, 0.1);
}

/* end card */

/* slider */
.testi-slider__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 560px;
    overflow-x: hidden;
}

.testi-slider__container {
    position: relative;
    display: grid;
    grid-auto-flow:column;
    justify-content: flex-start;
    grid-gap: 20px;
    transition: all 0.2s ease-in;
}

.slider-bg__icon {
    position: absolute;
    font-size: 45px;
    top: -100px;
    left: -50px;
}

.slider-bg__icon > span {
    font-size: 130px;
    color: #FF9344;
}

.testi-slider {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 320px;
    padding: 20px;
}

.testi-vid__wrapper {
    position: relative;
    height: 100px;
}

.testi-vid__wrapper > .embed-responsive {
    position: absolute;
    top: -70px;
    border-radius: 12px;
    z-index: 20;
}

.testi-slider__prev, .testi-slider__next {
    background: #FFFFFF;
    border: none;
    border-radius: 50%;
    color: #FF9900;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testi-slider__prev:hover, .testi-slider__next:hover {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.testi-slider__owner {
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .testi-slider__owner {
        font-size: 14px;
    }
}

/* end slider */

/* font */
.text-decoration-none {
    text-decoration: none!important;
}

.font-8 {
    font-size: 8px;
}

.font-12 {
    font-size: 12px;
}
.font-20 {
    font-size: 20px;
}

.font-warning {
    color: #FF9900;
}

.font-orange {
    color: #FF9900;
}

a.font-orange:hover {
    text-decoration: none;
    color: #DD7427;
}

.main-title {
    font-size: 54px;
}

.main-p {
    font-size: 18px;
}

.sub-p {
    font-size: 16px;
}

@media screen and (max-width: 1400px){
    .main-title {
        font-size: 49px;
    }
}

@media screen and (max-width: 1199px){
    .main-title {
        font-size: 36px;
    }

    .text-center-main-sm {
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    h1, .main-title {
        font-size: 24px;
    }

    .main-p {
        font-size: 16px;
    }

    .sub-p {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }

    h6 {
        font-size: 13px;
    }

    .text-center-sm {
        text-align: center!important;
    }
}

@media screen and (max-width: 576px){
    h1, .main-title {
        font-size: 24px;
    }

    .main-p {
        font-size: 14px;
    }

    .sub-p {
        font-size: 11px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    .text-center-sm {
        text-align: center!important;
    }
}


.main-title__in {
    position: relative;
    color: #FF9900;
}

.with-border::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -20px;
    transform: rotate(-2deg);
    width: 100%;
    height: 5px;
    -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF9900;
}

.with-border__top::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -5px;
    transform: rotate(-2deg);
    width: 100%;
    height: 3px;
    -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF9900;
}

.sub-title__in {
    position: relative;
    color: #FF9900;
}

.sub-title__in::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -0.2em;
    transform: rotate(-2deg);
    width: 100%;
    height: 3px;
    -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF9900;
}

.to-h2 {
    font-size: 32px!important;
}

.to-h3 {
    font-size: 28px!important;
}

.to-h4 {
    font-size: 24px!important;
}

.to-h5 {
    font-size: 20px!important;
}

.to-h6 {
    font-size: 16px!important;
}



@media screen and (max-width: 768px){
    .to-h2 {
        font-size: 20px!important;
    }

    .to-h3 {
        font-size: 16px!important;
    }

    .to-h4 {
        font-size: 15px!important;
    }

    .to-h5 {
        font-size: 14px!important;
    }

    .to-h6 {
        font-size: 13px!important;
    }
    
}

@media screen and (max-width: 576px){
    .to-h2 {
        font-size: 18px;
    }
    
    .to-h3 {
        font-size: 15px!important;
    }

    .to-h4 {
        font-size: 14px!important;
    }

    .to-h5 {
        font-size: 13px!important;
    }

    .to-h6 {
        font-size: 12px!important;
    }
}

/* end font */

/* form */
.form-contact:focus {
    outline: none!important;
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #FF9900!important;
    transition: all 0.3s;
}

@media screen and (max-width: 768px){
    .form-contact.form-control::placeholder {
        font-size: 12px;
    }
}

/* end form */

/* footer */
.footer-banner {
    display: block;
}
.footer-banner-mobile {
    display: none;
}

@media screen and (max-width: 576px){
    .footer-banner {
        display: none;
    }
    .footer-banner-mobile {
        display: block;
    }
}

footer {
    overflow: hidden;
}

footer p {
    color:rgba(108, 108, 108, 1);
    font-size: 14px;
}

.footer-nav {
    list-style-type: none;
    padding-inline-start: 0;
}

.footer-nav > li {
    color: #454545;
    font-size: 14px;
    margin-bottom: 9px;
}

.footer-nav > li a {
    color: #454545;
    text-decoration: none;
    font-size: 14px;
}

.footer-nav > li a:hover {
    color: #FF9900;
}

@media screen and (max-width: 768px){
    .footer-nav > li, .footer-nav > li a {
        color: #454545;
        text-decoration: none;
        font-size: 12px;
    }
}

@media screen and (max-width: 576px){
    .footer-nav > li, .footer-nav > li a {
        color: #454545;
        text-decoration: none;
        font-size: 11px;
    }
}

/* end footer */
  

/* package */
.paket-1 .card-header, .paket-2 .card-header, .paket-3 .card-header {
    position: relative;
    background-color: #ffffff;
    border-radius: 25px 25px 0px 0px;
    border:none;
    z-index: 500;
}

.paket-1, .paket-2, .paket-3 {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
}

.paket-1 .card-header, .paket-1 .card-body {
    background:#FFF3DD;
}

.paket-2 .card-header, .paket-2 .card-body {
    background:#DEF7FF;
}

.paket-3 .card-header, .paket-3 .card-body {
    background:#F7EFFF;
}

.paket-1 .card-body ul li {
    border: none; 
    background: #FFF3DD;
}

.paket-2 .card-body ul li {
    border: none; 
    background:#DEF7FF;
}

.paket-3 .card-body ul li {
    border: none; 
    background: #F7EFFF;
}


.paket-1 .card-body, .paket-2 .card-body, .paket-3 .card-body {
    height: 500px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .paket-1 .card-body, .paket-2 .card-body, .paket-3 .card-body {
        height: 650px;
    }
}

.paket-1 .card-footer, .paket-2 .card-footer, .paket-3 .card-footer {
    border: none;
    border-radius: 0 0 25px 25px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.paket-1 .card-footer {
    background-color: #FFF3DD;
}

.paket-2 .card-footer {
    background-color: #DEF7FF;
}

.paket-3 .card-footer {
    background-color: #F7EFFF;
}

.paket-1 .card-header img, .paket-3 .card-header img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 1001!important;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.paket-2 .card-header img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 150%; */
    width: 70px;
    height: 70px;
    z-index: 1001!important;
    object-fit: cover;
}

.card.paket-2 {
    position: relative;
}

.badge-package {
    position: absolute;
    top: -30px;
    right: -34px;
    z-index: 600!important;
}


.paket-1 .card-header div, .paket-2 .card-header div, .paket-3 .card-header div {
    position: relative;
    z-index: 1002!important;
}

.paket-1 .card-header h2.main-price, .paket-2 .card-header h2.main-price, .paket-3 .card-header h2.main-price {
    color: #FF9900;
    font-size: 45px;
}

.paket-1 .card-header h2.paket-name, .paket-2 .card-header h2.paket-name, .paket-3 .card-header h2.paket-name {
    font-size: 24px;
}

.paket-collapse {
    color: #FF9900!important;
    display: block;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    margin-bottom: 10px;
}

.paket-collapse:hover {
    text-decoration: none;
}

.paket-collapse.collapsed i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media screen and (max-width: 991px){
    .package-header a {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px){
    .package-header label {
        font-size: 10px;
        padding: 6px;
    }

    .package-header label input {
        width: 40px;
    }

    .package-header h5 {
        font-size: 12px;
    }

    .package-header h2.paket-name {
        font-size: 14px!important;
    }

    .package-header h2.main-price {
        font-size: 16px;
    }

    .package-header small {
        font-size: 9px;
    }
}

@media screen and (max-width: 547px){
    .package-header a {
        font-size: 8px;
    }
}

@media screen and (max-width: 497px){
    .package-header a {
        font-size: 6px;
    }
}

.text-featured {
    color: #67A37F;
}

/* end package */

/* feature */
.fitur-sidebar {
    position: sticky;
    background-color: #FFFFFF;
    top: 120px;
    border-radius: 30px;
}

.fitur-sidebar > .list-group {
    background: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.fitur-sidebar > .list-group .list-group-item {
    border: none;
}

.fitur-sidebar > .list-group .list-group-item a {
    font-size: 14px;
    text-decoration: none;
    color:#818286;
}

.fitur-sidebar > .list-group .list-group-item a:hover {
    color: #FF8D23!important;
    transition: color 0.4s;
}

.fitur-sidebar > .list-group .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fitur-sidebar > .list-group .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-features {
    width: 50%;
    max-height: 210px;
    object-fit: contain;
}

/* end feature */



/* feature slider */
.feature-slider__wrapper {
    position: relative;
    width: 90%;
}
.feature-slider {
    position: relative;
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    align-items: center;
}

.feature-slider-item {
    cursor: pointer;
    opacity: 0.5;
    color: #000;
}

.feature-slider-item.active {
    opacity: 1;
}

.feature-slider-item.active h2 {
    color: #FF9900;
}

.feature-title-active {
    color: #FF9900;
}

.feature-slider-item > h2 {
    font-size: 20px!important;
}

@media screen and (max-width: 992px){
    .feature-slider-item > img {
        width: 80%;
        object-fit: cover;
    }

    .feature-slider-item > h2 {
        font-size: 16px!important;
    }

    .feature-slider {
        height: 240px;
    }
}

@media screen and (max-width: 768px){
    .feature-slider__wrapper {
        width: 100%;
    }

    .feature-slider-item > img {
        width: 70%;
        object-fit: cover;
    }

    .feature-slider-item > h2 {
        font-size: 14px!important;
    }

    .feature-slider {
        height: 240px;
    }
}

@media screen and (max-width: 576px){
    .feature-slider-item > img {
        width: 100%;
        object-fit: cover;
    }

    .feature-slider-item > h2 {
        font-size: 12px!important;
    }

    .feature-slider {
        height: 240px;
    }
}

/* end feature slider */

/* blog */

.list-blog-category {
    flex-direction: row;
}

.list-blog-category > .list-group-item {
    padding: 0!important;
}

.list-latest-blog > .list-group-item a {
    text-decoration: none;
    color: #797E82;
}

.list-latest-blog > .list-group-item a:hover {
    text-decoration: none;
    color: #FF9344;
}

@media screen and (max-width: 768px){
    .list-blog-category > .list-group-item a {
        font-size: 10px;
    }
}

.latest-blog-number {
    color: #FFFFFF;
    background-color: #FF9344;
    padding: 3px 10px;
    border-radius: 50%;
}

.latest-blog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: color 0.3s ease;
    text-transform: capitalize;
}

.blog-category-link {
    color: #FFFFFF;
    transition: all 0.3s ease;
    padding: 10px 20px;
    color: #FF9344;
    border-radius: 10px;
}

.blog-category-link.active {
    box-shadow: 0px 10px 30px rgba(107, 107, 107, 0.15);
    background: #FF9344;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.blog-category-link.active:hover {
    background: #DD7427;
    box-shadow: 0px 10px 30px rgba(107, 107, 107, 0.15);
    color: #FFFFFF;
    transition: all 0.3s ease;
    text-decoration: none;
}

.blog-category-link:hover {
    color: #FF9344;
    text-decoration: none;
}

.blog-search-wrapper {
    position: relative;
}

.blog-search-wrapper input.form-control {
    background-color: #FFFFFF;
    border: none!important;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 40px;
    color: #C4C4C4!important;
}

.blog-search-wrapper input.form-control::placeholder {
    color: #C4C4C4!important;
}

.blog-search-wrapper input.form-control:focus {
    outline: none!important;
    border: 0!important;
    box-shadow: none;
}

.blog-submit {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #818286;
    z-index: 20;
    font-size: 12px;
}

.list-card-blog {
    cursor: pointer;
    border-radius: 20px;
    padding: 12px;
}

.list-card-blog:hover {
    background-color: #FDF5EE!important;
}

.list-card-blog__thumbnail {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 20px;
}

.btn-blog {
    background: linear-gradient(89.86deg, #FF8D23 0.1%, #FFAD62 89.93%)!important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 12px;
}

.btn-blog:hover {
    opacity: 0.7;
    color: #FFFFFF;
}

.blog-pagination-wrapper .pagination .page-item:not(.active) .page-link{
    color: #000!important;
}

.blog-pagination-wrapper .pagination .page-item:not(.active) .page-link{
    color: #000!important;
}

.blog-pagination-wrapper .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF9344;
    border-color: #FF9344;
}

.blog-title-link:hover {
    text-decoration: none;
    opacity: 0.7;
}

.blog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: color 0.3s ease;
    text-transform: capitalize;
}

.blog-first-title a {
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.blog-first-title a:hover {
    color: #FF9344;
    transition: all 0.2s ease-in;
}

.blog-first-p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    transition: color 0.3s ease;
    color:#6C6C6C;
    font-size: 16px;
    font-weight:400;
}

.blog-first-thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}

.blog-detail-content {
    font-family: 'Poppins', sans-serif!important;
    text-align: justify;
}

.blog-main-thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}

.list-blog-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    transition: color 0.3s ease;
    color: #6C6C6C;
}

.list-blog-desc p {
    color: #6C6C6C;
}
/* end blog */

/* faq */

.input-search-faq {
    padding-left:34px;
    color:#C4C4C4;
    border: 1px solid #EFEFEF;
}

.input-search-faq::placeholder {
    color: #C4C4C4;
}

.faq-search-submit {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #818286;
    z-index: 20;
    font-size: 12px;
}

.faq-search-submit > i {
    color: #A6A6A6;
}

.faq-side__nav > li a {
    color: #C4C4C4;
}

.faq-side__nav > li a.active {
    color: #454545;
    font-weight: 600;
}

.faq-collapse {
    color: #818286!important;
    display: block;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
    padding-right: 20px;
}

.faq-collapse:hover {
    text-decoration: none;
}

.faq-collapse i {
    position: absolute;
    right: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    color: #FF9900;
}

.faq-collapse.collapsed i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.faq-card__category {
    background: #FFF7ED;
    border-radius: 24px;
    width: 60%!important;
}

@media screen and (max-width: 1020px){
    .faq-card__category {
        width: 100%!important;
    }
}

.faq-card__category .card-body > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.faq-card__category .card-body > button img {
    width: 75%;
    object-fit: contain;
}

.faq-card__category .card-footer {
    background: #FFF7ED;
    border-radius: 24px
}

.faq-card__category .card-footer > button {
    color: #C4C4C4;
    font-size: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.faq-card__category .card-footer > button:hover {
    color: #FF9344;
    text-decoration: none;
    font-weight: 600;
}

.faq-card__category .card-footer > button.active {
    color: #FF9344;
    font-weight: 600;
}

/* end faq */

/* hardware */
.card-hardware {
    cursor: pointer;
    border-radius: 24px;
}

.card-hardware .card-footer {
    background-color: #FFF;
    border-radius: 24px;
}

.card-hardware:hover {
    box-shadow: 0px 10px 20px 0px #FF990026!important;
}

.card-hardware__content ul li {
    color: #818286;
    font-size: 14px;
}

.card-hardware__price {
    color: #6C6C6C;
}

.card-hardware__dropdown {
    position: relative;
}

.card-hardware__dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)!important;
    border: none!important;
    border-radius: 10px;
    margin-top: 10px;
 }

.card-hardware__dropdown>button:focus~.dropdown-menu {
    display: block;
 }

 .btn-card__hardware {
     width: 100%;
     background: #FFF7ED;
     color:#FF9900;
     border-radius: 10px;
 }

 .btn-card__hardware:focus {
     background: #FF9344;
     color: #FFF;
 }

 .btn-card__hardware:hover {
    background: #FF9344;
    color: #FFF;
}

 .btn-card-hardware__item {
     width: 100%;
     background:#FFF;
     border-radius: 10px;
     color: #9C9FA1;
 }

 .btn-card-hardware__item:hover {
     background: #FF9344;
     color: #FFF;
 }

/* end hardware */