@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif!important;
    background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Red Hat Display', sans-serif!important;
}

.ln-0 {
    line-height: 0;
}

span {
    font-family: 'Poppins', sans-serif!important;
}

html {
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 200px;
}

.btn-login {
    background: transparent!important;
    border: none;
    transition: all 0.3s;
}

.btn-login:hover {
    transition: all 0.3s;
    font-size: 15px!important;
}

@media screen and (max-width: 780px){
    .nv-login {
        margin-bottom: 20px;
    }
}

.btn-demo {
    background: linear-gradient(89.86deg, #FF8D23 0.1%, #FFAD62 89.93%)!important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-demo:hover {
    opacity: 0.7;
}

.btn-accordion {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #000;
}


.btn-accordion img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.btn-accordion:hover {
    color: #000;
}

.btn-rounded {
    border-radius: 27px;
}

.font-12 {
    font-size: 12px!important;
}

.font-14 {
    font-size: 14px!important;
}

.font-16 {
    font-size: 16px!important;
}

.font-18 {
    font-size: 18px!important;
}

.font-20 {
    font-size: 20px!important;
}

.font-24 {
    font-size: 24px!important;
}

.font-28 {
    font-size: 28px!important;
}

.fw-bolder {
    font-weight: bolder;
}

.info-header {
    display: block;
    background-color: #FF6B00;
}

.nav-link {
    font-family: 'Poppins', sans-serif!important;
}

.nav-link.active {
    color: #FF6B00!important;
}


.navigation.navigation-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000!important;
    background-color: transparent!important;
}

@media screen and (min-width:768px){
    .navigation.navigation-fixed .nav-link {
        color: #fff;
    }
}


.navigation .nav-link {
    color: #000;
}

.navigation.navbar-sticky .nav-link {
    color: #000;
}

.navigation.fixed-top .nav-link {
    color: #000;
}

.nav-padding {
    padding: 0 80px 0 80px;
}

.hide-desktop {
    display: none;
}

.carousel-inner.home-carousel .carousel-item {
    height: 100vh;
}

.carousel-indicators {
    display: none!important;
}


@media screen and (max-width: 913px){
    .carousel-inner.home-carousel .carousel-item {
        height: 700px;
    }
}

@media screen and (max-width: 520px){
    .carousel-inner.home-carousel .carousel-item {
        height: 800px;
    }
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-carousel {
    position: relative;
    z-index: 2;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(112.51deg, #0F0F0F 12.79%, rgba(15, 15, 15, 0) 95.28%);
    opacity: .7;
}

.carousel-indicators li {
    background-color: #C4C4C4;
}


.carousel-control-next, .carousel-control-prev {
    z-index: 10;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(6187%) hue-rotate(165deg) brightness(117%) contrast(76%);
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    filter: invert(100%) sepia(0%) saturate(6187%) hue-rotate(165deg) brightness(117%) contrast(76%);
}

.carousel-control-next-icon1, .carousel-control-prev-icon1 {
    filter: invert(100%) sepia(0%) saturate(6187%) hue-rotate(165deg) brightness(117%) contrast(76%);
}

.features-img {
    position: relative;
}

.bg-home-fitur {
    position: absolute;
    width: 90%;
    top: 0;
    object-fit: cover;

}



.alter2-header.home-header {
    background-image: url('../img/home/landing-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    height: 460px;
}

.alter2-header.features-header {
    background-image: url('../img/header-feature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    height: 460px;
}


section.home-explain {
    background-image: url('../img/home/bg-laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.explain-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(67, 67, 67, 0.74) 0%, rgba(38, 38, 38, 0.5994) 100%);
    opacity: .7;
}

section.home-download {
    background-image: url('../img/indo.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.alter2-header.about-header {
    background-image: url('../img/banner-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 900;
}

.alter2-header.contact-header {
    background-image: url('../img/consult.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
}


.alter2-header.blog-header {
    background-image: url('../img/banner-blog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    height: 500px;
}

.landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(81.54deg, rgba(204, 100, 3, 0.9) 1.94%, rgba(200, 116, 39, 0) 97.68%);
    opacity: .7;
}

@media screen and (max-width:768px){
    .alter2-header.contact-header {
        margin-bottom: 80px;
    }
}

.section [class^=container], section [class^=container] {
    padding-bottom: 30px!important;
    padding-top: 30px!important;
}



.rotate {
    transform: translateY(0);
    transition: transform 0.3s linear;
}

.rotate:hover {
    transform: translateY(-20px) rotate(10deg);
    transition: all 0.3s linear;
}


.section.cari-apa {
    position: relative;
}

.section.fitur-table {
    position: relative;
    overflow-x: hidden;
}

.bg-wayang {
    position: relative;
}

.bg-fitur-table {
    position: absolute;
    bottom: -200px;
    right: -500px;
    z-index: 1;
}


.card-home__nav {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    cursor: pointer;
}

.card-home__nav.active {
    background: #FC8107!important;
}

.card-home__nav.active .card-home__nav__content__wrapper h3 {
    color: #ffffff;
}

.card-home__nav.active .card-home__nav__content__wrapper p {
    color: #ffffff;
}

.card-home__nav__content__wrapper > p {
    color: #454545;
    font-size: 12px;
}

.card-type_business {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.card-type_business > img {
    width: 35%;
    object-fit: cover;
}

.card-type_business > span {
    color: #000!important;
}

.card-type_business:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.paket-1 .card-header, .paket-2 .card-header, .paket-3 .card-header {
    position: relative;
    background-color: #ffffff;
    z-index: 1000;
}

.paket-1 .card-body, .paket-2 .card-body, .paket-3 .card-body {
    height: 500px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .paket-1 .card-body, .paket-2 .card-body, .paket-3 .card-body {
        height: 650px;
    }
}

.paket-1 .card-footer, .paket-2 .card-footer, .paket-3 .card-footer {
    border: none;
    background-color: #ffffff;
    border-radius: 0 0 25px 25px;
    padding-top: 20px;
    padding-bottom: 20px;

}



.paket-1 .card-header img, .paket-3 .card-header img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 1001!important;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.paket-2 .card-header img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 150%; */
    width: 70px;
    height: 70px;
    z-index: 1001!important;
    object-fit: cover;
}

.card.paket-2 {
    position: relative;
}

.badge-package {
    position: absolute;
    top: -30px;
    right: -33px;
    z-index: 1005!important;
}


.paket-1 .card-header div, .paket-2 .card-header div, .paket-3 .card-header div {
    position: relative;
    z-index: 1002!important;
}

@media screen and (max-width: 991px){
    .package-header a {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px){
    .package-header label {
        font-size: 10px;
        padding: 6px;
    }

    .package-header label input {
        width: 40px;
    }

    .package-header h5 {
        font-size: 12px;
    }

    .package-header h4 {
        font-size: 14px;
    }

    .package-header h3 {
        font-size: 16px;
    }

    .package-header small {
        font-size: 9px;
    }
}

@media screen and (max-width: 547px){
    .package-header a {
        font-size: 8px;
    }
}

@media screen and (max-width: 497px){
    .package-header a {
        font-size: 6px;
    }
}

.text-paket-1 {
    color: #490000;
}

.text-paket-2 {
    color:#DE4300;
}

.text-paket-3 {
    color: #6B3E7A;
}

.text-footer {
    color: #A7A7A7;
}

.card.card-testi {
    border-radius: 30px!important;
    padding: 40px 100px 40px 40px;
}

.card-testi {
    position: relative;
    min-height: 350px;
}

.card-testi .embed-responsive {
    position: absolute;
    right: -400px;
    width: 500px;
    top: 50%;
    border-radius: 25px;
    transform: translateY(-50%);
}

.download-app {
    position: relative;
}

.img-download-app {
    position: absolute;
    bottom: 0;
    transform: translateY(80px);
}

@media screen and (max-width: 989px){
    .img-download-app {
        bottom: 80px;
    }
}

@media screen and (max-width: 767px){
    .img-download-app {
        bottom: 80px!important;
        
    }
}

.text-grey {
    color: #C8C8C8!important;
}

.t-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 767px){
    .img-download-app {
        bottom: 100px;
        transform: translateY(0px);
    }
}

@media screen and (max-width:990px){
    .img-download-app {
        transform: translateY(160px);
    }
}

.consult {
    background-image: url('../img/consult.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    height: 400px;
}

.consult-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(355.14deg, #000000 -14.97%, rgba(231, 231, 231, 0) 180.37%);
    opacity: .7;
}


.home-section {
    position: relative;
    z-index: 10;
}

.home-section .container {
    z-index: 11;
}


.section-info {
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: 0 3px 26px 0 rgb(0 0 0 / 15%);
    padding: 30px 0;
}

.section-info__icon__wrapper {
    height: 90px;
}

.section-info__icon {
    width: 30%;
    object-fit: cover;
}

.section-info__title {
    color: #000000;
    font-size: 21px;
    font-weight: bolder;
}

.section-info__sub__title {
    color: #454545;
    font-size: 14px;
    font-weight: bold;
}


.z10 {
    position: relative;
    z-index: 10!important;
}

.z13 {
    position: relative;
    z-index: 13!important;
}

.bg-right-home-section {
    position: absolute;
    bottom: -400px;
    right: 0;
    width: 400px;
    z-index: 1;
}

.bg-left-home-section {
    position: absolute;
    bottom: -470px;
    width: 400px;
    z-index: 1;
}

.bg-top-home-section {
    position: absolute;
    top: -220px;
    height: 200%;
    z-index: 1;
}

.bg-left-ellipse {
    position: absolute;
    width: 280px;
    top: 0;
    z-index: 1;
}

.bg-right-ellipse {
    position: absolute;
    width: 290px;
    top: 190px;
    right: 0;
    z-index: 1;
}

.about-section {
    position: relative;
    z-index: 10;
}

.about-section .container {
    z-index: 11;
}

.bg-right-about-section {
    position: absolute;
    bottom: -500px;
    right: 0;
    width: 400px;
    z-index: 1;
}

.bg-left-about-section {
    position: absolute;
    bottom: -400px;
    width: 400px;
    z-index: 1;
}

.block-about {
    position: absolute;
    width: 75%;
    height: 250px;
    bottom: 40px;
    left: 90px;
    background-color: #FF7F00;
    border-radius: 8px;
    z-index: 1;
}

.block-about2 {
    position: absolute;
    width: 75%;
    height: 250px;
    bottom: 40px;
    left: 43px;
    background-color: #FF7F00;
    border-radius: 8px;
    z-index: 1;
}

.img-about {
    position: relative;
    width: 80%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    z-index: 10;
}


/* .features-list li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.features-list li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} */

.fitur-sidebar {
    position: sticky;
    top: 120px;
}

.fitur-active {
    color: #FF6B00;
}

@media screen and (max-width:1199px){
    .block-about {
        bottom: 100px;
    }
}

@media screen and (max-width: 991px){
    .block-about {
        bottom: 160px;
        left: 60px;
    }

    .block-about2 {
        bottom: 120px;
        left: 40px;
    }
}

@media screen and (max-width: 767px){
    .block-about {
        bottom: -20px;
        left: 96px;
    }

    .block-about2 {
        bottom: 40px;
    }
}



.badge-brown {
    background-color: #C4C4C4;
}

/* .img-features {
    width: 50%;
    object-fit: cover;
} */

.img-features {
    width: 50%;
    max-height: 210px;
    object-fit: contain;
}

.package-banner {
    position: relative;
    background: linear-gradient(110.79deg, #FFD4AD 25.12%, #FDC898 32.73%, #FCCFA6 44.58%, #F18C2F 82.46%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.bg-pkg-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.bg-pkg-banner img {
    width: 70%;
}

.package-banner-logo {
    width: 120px;
    object-fit: contain;
}

.collapse .list-group {
    background: none;
}

.collapse .list-group .list-group-item {
    border: none;
}

.collapse .list-group .list-group-item a:hover {
    color: #FF8D23!important;
    transition: color 0.4s;
}

.collapse .list-group .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.collapse .list-group .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 767.98px){
    .hide-desktop {
        display: block;
    }

    .navigation .nav-link.active, .navigation .nav-link:hover {
        background: none!important;
    }
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 24px!important;
    }

    .card.card-testi {
        border-radius: 30px!important;
        padding: 0px;
    }
    
    .card-testi {
        position: relative;
        min-height: none;
    }

    .card-testi p, .card-testi h1, .card-testi span {
        padding: 20px;
        font-size: 16px;
    }

    .card-testi h4 {
        padding: 0 20px;
        font-size: 16px;
    }
    
    .card-testi .embed-responsive {
        position: relative;
        right: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 25px!important;
        transform: translateY(0);
    }

    .download-now {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px){
    .info-header {
        display: none;
    }

    .nav {
        flex-wrap: nowrap;
    }

    .nav-link {
        white-space: nowrap!important;
    }
}

@media screen and (max-width: 1050px){
    .nav-padding {
        padding: 0 30px 0 30px;
    }
}

.pagination .page-item:not(.active) .page-link{
    color: #000!important;
}

.list-group-item.blog-list {
    background-color: transparent!important;
    border-bottom: 1px solid #e5e5e5!important;
}

.list-group-item.blog-list-icon {
    background-color: transparent!important;
}

.list-group-item.blog-list:last-child {
    border-bottom: none!important;
}

.list-group-item.blog-list a:hover{
    color: #DE4300!important;
}

@media screen and (max-width: 480px){
    .span-or {
        display: none;
    }
}

.btn-cus-next, .btn-cus-prev {
    transform: translateY(-50%);
}

.button-close-modal {
    position:absolute;
    right:0;
    top:0; 
    background-color: #FF6B00!important;
    padding: 5px 10px!important;
    border-radius:100%;
    z-index: 100;
    font-size: 20px!important;
    border: 2px solid #fff!important;
    color: #fff!important;
}

.button-close-modal:hover {
    opacity: 0.9!important;
    transition: opacity 0.3s ease;
}

.close {
    opacity: 1!important;
}

.search-blog {
    border: none!important;
    border-radius: 15px!important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 14px 25px;
    font-size: 14px;
}

.search-blog::placeholder {
    color: #9f9f9f;
}

.text-header {
    font-size: 50px!important;
}

@media screen and (max-width: 768px){
    .mb-sm-50 {
        margin-bottom: 50px;
    }
    .text-header {
        font-size: 45px!important;
    }
}
