.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 1200px) {
  .navbar-expand-mx > .container,
  .navbar-expand-mx > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-mx {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-mx .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-mx .navbar-nav .dropdown-menu {
    position: absolute;
    border-radius: 14px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  }
  .navbar-expand-mx .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-mx > .container,
  .navbar-expand-mx > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-mx .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-mx .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.navbar-expand .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-nav {
  position: relative;
}
@media (min-width: 1200px) {
  .navbar .dropdown.mega {
    position: static;
  }
}

.navigation {
  background-color: #fff;
  min-height: 90px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .navigation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navigation .dropdown-item:before {
    content: "";
    padding: 3px;
    left: 0;
    border-radius: 50%;
    opacity: 0.5;
  }
  .navigation .dropdown-item:before {
    position: absolute;
    top: 12px;
  }
  .navigation .dropdown-heading {
    padding-left: 0 !important;
  }
}
.navigation .navbar-toggler {
  -ms-flex-item-align: center;
  align-self: center;
}
.navigation .navbar-toggler .icon-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  background-color: #FF9344!important;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: block;
  width: 30px;
  height: 2px;
}
.navigation .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navigation .navbar-toggler .icon-bar:hover {
  background-color: #FF9344;
}
.navigation .dropdown-heading {
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  position: relative;
}
.navigation.fixed-top .navbar-collapse {
  height: 100vh;
}
.navigation.navbar-expanded.sidebar-left .collapse {
  left: 0;
  padding: 20px;
}
.navigation.navbar-expanded.sidebar-left .navbar-brand,
.navigation.navbar-expanded.sidebar-left .navbar-toggler,
.navigation.navbar-expanded.sidebar-left ~ main {
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
}

.navigation.navbar-expanded .icon-bar:nth-child(1) {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.navigation.navbar-expanded .icon-bar:nth-child(2) {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}
.navigation.navbar-expanded .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(225deg);
  transform: translateY(-15px) rotate(225deg);
}
.navigation.sidebar-left .collapse {
  left: -280px;
  border-right: 1px solid #edf4f8;
}
.navigation .collapse {
  -webkit-transition: left 0.4s ease 0s;
  transition: left 0.4s ease 0s;
  background-color: #fff;
  width: 280px;
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  display: block;
}
@media (max-width: 767.98px) {
  .navigation .collapse {
    overflow-y: auto;
  }
}
.navigation .logo {
  max-height: 40px;
}
.navigation .dropdown-menu {
  font-size: 0.875rem;
  padding: 1rem 0;
  border: none;
}
.navigation .dropdown-menu .dropdown-item {
  color: #2f3e4b;
  position: relative;
}
.navigation .dropdown-menu .dropdown-item.disabled {
  opacity: 0.4;
}
.navigation .sidebar-brand {
  padding: 1rem;
}
.navigation .nav-link {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  text-decoration: none;
  padding: 1rem;
}
.navigation .nav-link i {
  display: inline-block;
  margin-right: 15px;
}
.navigation .nav-link.active,
.navigation .nav-link:hover {
  color: #fff;
}
@media (max-width: 1200px) {
  /* .navigation .nav-link.active,
  .navigation .nav-link:hover {
    background: #FF9344;
  } */
}

@media (min-width: 1200px) {
  .navigation {
    background-color: #fff;
    padding: 0;
  }
  .navigation:not(.fixed-top) {
    position: static;
    top: -90px;
  }
  .navigation.fixed-top {
    background-color: transparent;
  }
  .navigation.fixed-top .navbar-collapse {
    height: auto;
  }
  .navigation.fixed-top .nav-link {
    color: #ff5800;
  }
  .navigation.fixed-top .nav-link.active,
  .navigation.fixed-top .nav-link:hover {
    color: #FF9344;
  }
  
  .navigation.navbar-expanded .navbar-brand,
  .navigation.navbar-expanded .navbar-toggler,
  .navigation.navbar-expanded ~ main {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .navigation.sidebar-left .collapse {
    left: 0;
    border-right: none;
  }
  .navigation .collapse {
    position: relative;
    width: auto;
    background: 0 0;
  }
  .navigation .nav-link {
    color: #333333;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
  .navigation .nav-link i {
    display: none;
  }
  .navigation .nav-link.active,
  .navigation .nav-link:hover {
    color: #FF9344;
  }
  .navigation .dropdown.show .dropdown-toggle {
    color: #333333;
  }
  .navigation .sidebar-brand {
    display: none;
  }
  .navigation .dropdown-menu {
    margin-top: -10px;
    border: 1px solid #edf4f8;
    min-width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
  }
}

.nav-link.active {
  color: #FF9344!important;
}


.navigation.navigation-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020!important;
  background-color: transparent!important;
}

.navigation.bg-white {
background-color: #fff!important;
}

@media screen and (min-width:1200px){
  .navigation.navigation-fixed .nav-link {
      color: #333333;
  }
}


.navigation .nav-link {
  color: #000;
}

.navigation.navbar-sticky .nav-link {
  color: #000;
}

.navigation.fixed-top .nav-link {
  color: #000;
}

.nav-padding {
  padding: 0 80px 0 80px;
}

.btn.nav-login {
  background: #FDF5EE;
  color: #FF9900;
}

.btn.nav-regist {
  background: #FF9344;
  box-shadow: 0px 5px 30px rgba(255, 153, 0, 0.2);
  color: #ffffff;
  font-weight: 200;
}

.fixed-top {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

@media screen and (max-width: 1348px){
/* .nav-item:nth-last-child(3) {
  display: block;
}
.nav-item:nth-last-child(4) {
  display: block;
} */
.navigation .nav-link {
  font-size: 14px;
}

.nav-item .dropdown button {
  font-size: 14px!important;
}
}

@media screen and (max-width: 1200px){
/* .nav-item:nth-last-child(3) {
  display: block;
}
.nav-item:nth-last-child(4) {
  display: block;
} */
}

@media screen and (max-width: 1199px){
.navbar-expand-mx .navbar-toggler {
  display: block;
}
}

.nav-item .nav-link:hover {
color: #333333!important;
}

@media screen and (min-width: 1200px){
.navigation.navbar-expand-mx .dropdown-menu {
  padding: 10px 14px;
}

.navigation .dropdown-menu .dropdown-item {
  padding: 10px 14px;
}

.navigation .dropdown-menu .dropdown-item:hover {
  background-color: #FF9344;
  color: #fff;
  border-radius: 14px;
}
}

@media screen and (max-width: 768px){
.nav-mb-sm {
  margin-bottom: 20px!important;
}
}

@media screen and (max-width: 360px){
.navigation.navbar-expanded.sidebar-left .navbar-brand,
.navigation.navbar-expanded.sidebar-left .navbar-toggler,
.navigation.navbar-expanded.sidebar-left ~ main {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

.navigation.sidebar-left .collapse {
  left: -250px;
  border-right: 1px solid #edf4f8;
}
.navigation .collapse {
  -webkit-transition: left 0.4s ease 0s;
  transition: left 0.4s ease 0s;
  background-color: #fff;
  width: 250px;
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  display: block;
}
}

.nav-item.dropdown > button.nav-link {
background: none!important;
border: none;
}