
@font-face {
    font-family: "Font Poppin";
    src: url('Poppins-Regular.ttf');
}
@font-face {
    font-family: "Font Poppin Medium";
    src: url('Poppins-Medium.ttf');
}
.nv-demo{
    margin-top: -14%;
}
.nv-login{
    padding: 10px 50px 10px;
}
.btn-demo{
    padding: 10px 30px 10px;
}
.btn-demo{
    background-color:#F36F39;
    color: white;
}
.btn-demo:hover{
    background-color:#d85927;
    color: white;
}
.a-link:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-modal{
    /* background-size: cover;
    position: absolute; */
    width: 100%;
    height: auto;
}
.nv-icon{
    margin-left: -5%;
}
.img-laptop{
    margin-top: 20%;
    width: 120%;
}
.img-temp{
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 50vh;
}
.img-m-logo{
    margin-top: 20%;
    width: 40%;
}
.img-blog{
    height: 800px;
}
.width-testi {
    width:1000px;
}
.asset-pack1{
    z-index: -200;
    position: absolute;
    width: 20%;
    top: 20%;
    left: 5%;
}
.asset-pack2{
    z-index: -200;
    position: absolute;
    width: 20%;
    top: 80%;
    right: -10%;
}
.foot-term{
    margin-bottom: -10%;
}
.banner-blog{
    margin-bottom: -10%;
    margin-top: -10%;
}
.poppin {
    font-family: "Font Poppin";
}
.poppin-med {
    font-family: "Font Poppin Medium";
}
.mapid{
    height: 500px;
    margin-top:-30%
}
.img-footer{
    width: 60%;
    z-index: -100;
    margin-top: -40%;
}
.img-device{
    width: 80%;
    z-index: -100;
    margin-left: 20%;
}
.foot-point{
    width: 50%;
    z-index: -100;
    bottom: 80%;
}
.img-head{
    top: -100px;
    left: -5%;
}
.img-head2{
    top: -50px;
    right: -5%;
    z-index: -100;
}
.mb-foot{
    margin-bottom: 20%;
}
.back-img{
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
}

.point-tentang{
    z-index: -100;
    top: -20%;
    left: -20%;
    position: absolute;
}
.block-tentang{
    width: 400px;
    height: 400px;
    background-color: #FF7F00;
    position: absolute;
    z-index: -100;
    left: -5%;
    bottom: 10%;
}
.block-tentang2{
    width: 900px;
    height: 250px;
    background-color: #FF7F00;
    position: absolute;
    z-index: -100;
    right: -50%;
    top: 10%;
}
.back-head{
    top: 150px;
    width: 100%;
    z-index: -200;
    position: absolute;
}
.block-feature{
    position: absolute;
    z-index: -200;
    right: -60%;
    bottom: 5%;
    width: 130%;
}
.block-layanan{
    position: absolute;
    z-index: -200;
    left: -30%;
    top: 5%;
    width: 60%;
}
.blkBanner{
    position: absolute;
    width: 80%;
    z-index: -200;
    margin-left: -40%;
    top: -10%;
}
.blkBanner2{
    position: absolute;
    width: 55%;
    margin-left: 25%;
    z-index: -200;
    top: -40%;
}
.blkBanner3{
    position: absolute;
    width: 100%;
    margin-left: 25%;
    z-index: -200;
    top: -40%;
}
.linkLayanan{
    margin-right: 10%;
}
.text-featured{
    margin-right: -5%;
    color: #00c21a;
}
.bg-paket2{
    background-color: #FFE6D9;
}
.bg-paket3{
    background-color: #FFDA95;
}
.non-active{
    color: #ffb791;
}
.non-active:hover{
    color: #f35500;
}
.menu-head{
    top: -60px;
}
.img-brush{
    top: -5%;
    left: -3%;
    z-index: 9;
}

.img-brush2{
    bottom: -7%;
    left: -3%;
    z-index: 9;
}

.img-brush3{
    top: -15%;
    left: -3%;
    z-index: 9;
}
.img-rotate{
    transform: rotate(180deg);
}
.bg-footer {
    background-image:linear-gradient(#f59325, #F36F39);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    background-attachment: fixed;
}
.bg-footer.edge.top-left {
    position:relative
}
.bg-footer.edge.top-left::before {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100% 100%;
    content:'';
    height:310px;
    left:0;
    position:absolute;
    right:0;
    width:100%;
    z-index:1;
    top:-310px
}

.shape-plus{
    z-index: -9999;
    right: 50px;
    bottom: 80px;
}

.img-left{
    position: relative;
    left: -20%;
    bottom: 50px;
}
.img-right{
    bottom: 15%;
    right: 10%;
    width: 50%;
    z-index: 1000;
}
.panel-body {
    overflow: hidden;
}

.btn-banner-next{
    right: -100px;

}

.btn-banner-prev{
    left: -100px;

}
.btn-cus-next{
    right: -100px;
    top: 50%;
}

.btn-cus-prev{
    left: -100px;
    top: 50%;
}
.btn-circle.btn-md {
    border-radius: 25px;
}
.carousel-control-next-icon1,.carousel-control-prev-icon1 {
    display:inline-block;
    width:20px;
    height:20px;
    margin: 4px 2px;
    background:no-repeat 50%/100% 100%
}
.carousel-control-prev-icon1 {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}
.carousel-control-next-icon1 {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.heading-line1:after {
    content:'';
    display:block;
    margin-top:32px;
    margin-bottom:24px;
    width:80px;
    height:2px;
    background-color:#ffffff
}
.text-center .heading-line1:after {
    margin-left:auto;
    margin-right:65%
}


.block-photo{
    background-color: #ff5901;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 20%;
    right: -5%
}
.say-section{
    height: 900px;
}
.carousel-indicators2{position:absolute;right:0;bottom:20%;left:0;z-index:15;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators2 .active{opacity:1}
.carousel-indicators2 li {
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-flex:0;
    -ms-flex:0 1 auto;
    flex:0 1 auto;
    width:10px;
    height:10px;
    border-radius: 50%;
    margin-right:3px;
    margin-left:3px;
    text-indent:-999px;
    cursor:pointer;
    background-color:rgb(255, 255, 255);
    background-clip:padding-box;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    opacity:.5;
    -webkit-transition:opacity .6s ease;
    transition:opacity .6s ease
}

.block1{
    left: -10%;
    top: 30%;
    width: 50%;
    height: 60%;
    background-color: black;
    position: absolute;
}
.block2{
    right: -10%;
    top: 8%;
    width: 40%;
    height: 50%;
    background-color: #FF7F00;
    position: absolute;
}
.block3{
    left: -10%;
    top: 30%;
    width: 50%;
    height: 60%;
    background-color: black;
    position: absolute;
}

.carousel-caption2{
    top: 10px;
    text-align: left;
}
.bg-f{
    background-size: cover;
    position: absolute;
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

.btn-search{
    z-index: 999;
    bottom: 12%;
    left: 92%;
    position: absolute;
}

.text-senna{
    color: #FE8F2D;
}

.bg-senna{
    background-color: #ff5901;
}

.block-detail{
    right: -2%;
    top: 7%;
    width: 500px;
    height: 520px;
    position: absolute;
    z-index: -11;
    background-color: #f59325;
}

.bottom-left {
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 100;
}

.border-top1 {
    margin-left: -20%;
    width: 50%;
    border-top:2px solid #f8f8f8!important
}
.map-post{
    top: -35%;
}
.block-map{
    top: -45%;
    right: -5%;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #ff5901;
}
.map{
    width:100%;height:500px;
}
.img-trans{
    position: absolute;
    opacity: 0.8;
    background-size: cover;
}
.img-pict{
    z-index: -2;
    position: absolute;
    background-size: cover;
    width: 100%;
}
.app-icon{
    margin-left: 5%;
}
@media (max-width:1100px) {
    .width-testi {
        width:auto;
    }
    .block-feature{
        position: absolute;
        z-index: -200;
        right: -30%;
        bottom: 20%;
        width: 110%;
    }
    .map{
        position: relative;
        height: 200px;
    }
    .block-map{

        background-color: transparent;
    }
    .img-left{
        position: relative;
        max-width: 200%;
        height: auto;
        right: 10px;
    }
    .block-photo{
        background-color:transparent;
        width: 150px;
        height: 200px;
        position: absolute;
        bottom: -250px;
        right: 20%
    }
    .carousel-caption2{
        width: 100%;
        font-size: small;
        padding-bottom: 35%;
    }
    .carousel-caption2 h1{
        font-size: 22pt;
    }
    .img-pict{
        z-index: -2;
        position: absolute;
        background-size: cover;
        height: 100%;
    }
    .img-trans{
        position: absolute;
        opacity: 0.8;
        background-size: cover;
        height: 100%;
    }
    .img-right{
        bottom: -90px;
        right: 10%;
        width: 25%;
        z-index: 1000;
    }
}

@media screen and (max-width: 780px) {
    .nv-demo{
        margin-top: -8%;
    }
    .nv-login{
        padding: 10px 30px 10px;
    }
    .btn-demo{
        padding: 10px 10px 10px;
    }
    .text-featured{
        margin-right: -2%;
        color: #00c21a;
    }
    .width-testi {
        width:auto;
    }
    .app-icon{
        margin-left: 8%;
    }
    .img-trans{
        position: absolute;
        opacity: 0.8;
        background-size: cover;
        height: 100%;
    }
    .img-pict{
        z-index: -2;
        position: absolute;
        background-size: cover;
        height: 100%;
    }
    .carousel-indicators2{bottom:0;}
    .say-section{
        height: 1000px;
    }
    .bottom-left {
        position: absolute;
        top: 40%;
        left: 10%;
        z-index: 100;
    }
    .block-tentang{
        width: 150px;
        height: 150px;
        background-color: #FF7F00;
        position: absolute;
        z-index: -100;
        right: 2%;
        top: 10%;
    }
    .block-tentang2{
        width: 600px;
        height: 150px;
        background-color: #FF7F00;
        position: absolute;
        z-index: -100;
        right: -58%;
        top: 10%;
    }
    .block-feature{
        position: absolute;
        z-index: -200;
        right: -30%;
        top: 22%;
        width: 110%;
    }
    .map{
        width: 50%;
        height: 200px;
        right: -50%;
    }
    .block1{
        left: -10%;
        top: 10%;
        width: 50%;
        height: 30%;
        background-color: black;
        position: absolute;
    }
    .block2{
        right: -10%;
        top: 10%;
        width: 40%;
        height: 40%;
        background-color: #FF7F00;
        position: absolute;
        margin-bottom: 100%;
    }
    .block3{
        left: -10%;
        top: 10%;
        width: 50%;
        height: 40%;
        background-color: black;
        position: absolute;
    }
    .carousel-caption2{
        width: 100%;
        font-size: small;
        padding-bottom: 35%;
    }
    .carousel-caption2 h1{
        font-size: 12pt;
    }
    .carousel-indicators3{
        margin-bottom: -10%;
        margin-left: 40%;
    }
    .btn-cus-next{
        right: -8px;
        top: 50%;
    }

    .btn-cus-prev{
        left: -8px;
        top: 50%;
    }
    .img-brush3{
        top: -10%;
        left: -3%;
        z-index: 9;
    }
    .img-info{
        width: 100%;
        position: relative;
    }
    .menu-head{
        top: -60px;
        left: auto;
        width: 50%;
    }
    .img-head{
        top: -30px;
    }
    .btn-sosmed {
        display: flex;
        justify-content: center;
    }
    .btn-store {

        justify-content: center;
    }
    .img-left{
        right: 50%;
    }

    .btn-banner-next{
        right: -30px;
    }

    .btn-banner-prev{
        left: -30px;
    }
    .carousel-indicators li {

        background-color:rgb(255, 255, 255);
    }
    .block-photo{
        background-color:transparent;
        width: 150px;
        height: 200px;
        position: absolute;
        bottom: -250px;
        right: 20%
    }
    .img-right{
        bottom: -200px;
        right: 30%;
        width: 50%;
        z-index: 1000;
    }
    .foot-term{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 420px) {
    .mt-custom{
        margin-top: 30%;
    }
    .center-icon{
        justify-content: center;
    }
    .centered{
        text-align: center;
        justify-content: center;
    }
    .img-temp{
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .width-testi {
        width:auto;
    }
    .img-modal{
        /* background-size: cover;
        position: absolute; */
        width: 100vh;
        height: auto;
    }
    .img-laptop{
        width: 100%;

    }
    .img-m-logo{
        width: 20%;
    }
    .app-icon{
        margin-left: 8%;
    }
    .block-feature{
        position: absolute;
        z-index: -200;
        right: -30%;
        bottom: 5%;
        width: 110%;
    }
    .carousel-indicators2{bottom:3%;}
    .say-section{
        height: 1200px;
    }
    .foot-term{
        margin-bottom: 0;
    }
    .desc{
        margin-top: -50%;
    }
    .bottom-left {
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 100;
    }
    .mapid{
        height: 300px;
        margin-top:2%;
        margin-bottom:12%;
    }
    .img-footer{
        width: 100%;
        z-index: -100;
        margin-top: -60%;
    }
    .block-layanan{
        position: absolute;
        z-index: -200;
        left: -60%;
        top: 15%;
        width: 120%;
    }
    .img-right{
        bottom: -200px;
        right: 30%;
        width: 50%;
        z-index: 1000;
    }
    .img-head2{
        top: 20px;
        right: 2%;
        z-index: -100;
    }
    .img-blog{
        height: 400px;
    }
    .banner-blog{
        margin-bottom: -5%;margin-top: -10%;
    }
    .btn-search{
        z-index: 999;
        bottom: 12%;
        left: 85%;
        position: absolute;
    }
    .block-tentang{
        width: 200px;
        height: 200px;
        background-color: #FF7F00;
        position: absolute;
        z-index: -100;
        left: 30%;
        top: 5%;
    }
    .block-tentang2{
        width: 600px;
        height: 150px;
        background-color: #FF7F00;
        position: absolute;
        z-index: -100;
        right: -35%;
        top: 10%;
    }
    .img-head{
        top: 30px;
    }
    .block1{
        left: -10%;
        top: 3%;
        width: 80%;
        height: 30%;
        background-color: black;
        position: absolute;
    }
    .block2{
        right: -10%;
        top: 70%;
        width: 80%;
        height: 40%;
        background-color: #FF7F00;
        position: absolute;
        margin-bottom: 100%;
    }
    .block3{
        left: -10%;
        top: 2%;
        width: 85%;
        height: 40%;
        background-color: black;
        position: absolute;
    }
    .carousel-caption2{
        width: 100%;
        font-size: 5pt;
        padding-bottom: 10%;
    }
    .carousel-caption2 h1{
        font-size: 10pt;
    }
    .carousel-indicators3{
        margin-bottom: -20%;
        margin-left: 50%;
    }
    .blkBanner{
        position: absolute;
        width: 80%;
        z-index: -200;
        margin-left: -40%;
        top: 50%;
    }
    .img-trans{
        position: absolute;
        opacity: 0.8;
        background-size: cover;
        height: 100%;
    }
    .img-pict{
        z-index: -2;
        position: absolute;
        background-size: cover;
        height: 100%;
    }
}

.social-buttons.social-footer {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px
}

.social-buttons {
    display: inline-block;
    width: 100%;
    margin-top: 20px
}

.social-buttons.with-border {
    border-top: 1px solid #e2e2e2;
    padding-top: 5px
}

.social-buttons .title {
    margin: 0 0 5px 0;
    font-weight: 500
}

.social-buttons .social-list {
    display: inline-block;
    width: 100%
}

.social-list a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 4px 4px 0;
    text-decoration: none !important
}

.social-buttons .social-icon {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #474747;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 3px
}

.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: 0.8rem;
}



